<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<providers embedded="providers.config,SmartLife.Share.Models" />

	<context id="SmartLife.IPCC" default="true">
		 
        <database>
          <provider  name="sqlServer2005" />
          <dataSource name="SmartLife.IPCC_DevRemote_1203_eComm" connectionString="Data Source=115.236.175.110,10017;Initial Catalog=IPCC-1203-eComm;User ID=IPCC1203;Password=IPCC1203@2013"/>
          <dataSource name="SmartLife.IPCC_DevRemote_1203" connectionString="Data Source=192.168.1.17,10017;Initial Catalog=IPCC-1203;User ID=IPCC1203;Password=IPCC1203@2013"/>
          <dataSource name="SmartLife.IPCC_DevLocal_1203" connectionString="Data Source=.;Initial Catalog=IPCC-1203;User ID=SmartLife;Password=smartlife"/>
        </database>
        <daoSessionHandler id="SqlMap">
          <property name="embedded" value="SmartLife.Share.IPCC.config,SmartLife.Share.Models" />
        </daoSessionHandler>
      
	</context>
	
</daoConfig>