<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<providers resource="providers.config"/>

	<context id="SmartLife.CertManage.ManageServices" default="true">
		 
        <database>
          <provider  name="sqlServer2005" />
          <dataSource name="SmartLife.CertManage.ManageServices_DevRemote_120304" connectionString="Data Source=115.236.175.110,10017;Initial Catalog=SmartLife-120300;User ID=SmartCare120300;Password=SmartCare120300@2013"/>
          <dataSource name="SmartLife.CertManage.ManageServices_DevRemote_120304" connectionString="Data Source=115.236.175.110,10017;Initial Catalog=SmartLife-120304;User ID=SmartCare120304;Password=SmartCare120304@2013"/>
          <dataSource name="SmartLife.CertManage.ManageServices_DevRemote_120701" connectionString="Data Source=115.236.175.110,10017;Initial Catalog=SmartLife-120701;User ID=SmartCare120701;Password=SmartCare120701@2013"/>
          <dataSource name="SmartLife.CertManage.ManageServices_DevLocal_120304" connectionString="Data Source=.;Initial Catalog=SmartLife-120304;User ID=SmartLife;Password=smartlife"/>
           
        </database>
        <daoSessionHandler id="SqlMap">
          <property name="embedded" value="SmartLife.Share.Models.config,SmartLife.Share.Models" />
        </daoSessionHandler>
      
	</context>
	
</daoConfig>