<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  <alias>
    <typeAlias  alias="StringStringDictionary" type="e0571.web.core.TypeInherited.StringStringDictionary,web.core" />
    <typeAlias  alias="StringObjectDictionary" type="e0571.web.core.TypeInherited.StringObjectDictionary,web.core" />
    <typeAlias  alias="HybridDictionary" type="System.Collections.Specialized.HybridDictionary" />
  </alias>
  <sqlMaps> 
    <!--共享的映射--> 
    <sqlMap embedded="NativeSql.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Share.xml,SmartLife.Share.Models" />
    <!--Share.Sys的映射-->
    <sqlMap embedded="Sys.Platform.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Application.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.WhiteList.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Parameter.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.ApplicationAccessibility.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.PlatformApplication.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Menu.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.MenuEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.DictionaryItem.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.DictionaryItemEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Tree.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.TreeItem.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Behavior.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.MenuBehavior.xml,SmartLife.Share.Models" /> 
    <!--Share.Pub的映射-->
    <sqlMap embedded="Pub.User.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Group.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.GroupPermit.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.GroupMember.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Area.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Area_V.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.AreaEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.UserArea.xml,SmartLife.Share.Models" />
    <!--Share.Cer的映射-->
    <sqlMap embedded="Cer.Redirect.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Cer.ObjectToken.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Cer.DeployNode.xml,SmartLife.Share.Models" />
  </sqlMaps>
</sqlMapConfig>
