<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers embedded="providers.config,SmartLife.Share.Models"/>

	<context id="SmartLife.WeiXinCloud2.PFA.Services" default="true">
		 
        <database>
          <provider  name="sqlServer2005" />
          <dataSource name="SmartLife.WeiXinCloud2.PFA_12" connectionString="Data Source=115.236.175.109,10016;Initial Catalog=SmartAuth-12;User ID=SmartAuth12;Password=SmartAuth12@2013"/>
          <dataSource name="SmartLife.WeiXinCloud2.PFA_120300" connectionString="Data Source=115.236.175.110,10017;Initial Catalog=SmartLife-120300;User ID=SmartCare120300;Password=SmartCare120300@@2015"/>          
        </database>
        <daoSessionHandler id="SqlMap">
          <property name="embedded" value="SmartLife.Share.WeiXin.PFA.config,SmartLife.Share.Models" />
        </daoSessionHandler>
      
	</context>
	
</daoConfig>