<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <settings>
        <setting useStatementNamespaces="false"/>
    </settings>
    <alias>
        <typeAlias  alias="StringStringDictionary" type="e0571.web.core.TypeInherited.StringStringDictionary,web.core" />
        <typeAlias  alias="StringObjectDictionary" type="e0571.web.core.TypeInherited.StringObjectDictionary,web.core" />
        <typeAlias  alias="HybridDictionary" type="System.Collections.Specialized.HybridDictionary" /> 
    </alias>
    <sqlMaps>
        <!--共享的映射-->
        <sqlMap embedded="NativeSql.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Share.xml,SmartLife.Share.Models" />
        <!--Share.Sys的映射-->
        <sqlMap embedded="Sys.Platform.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.Application.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.WhiteList.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.Parameter.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.ApplicationAccessibility.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.PlatformApplication.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.Menu.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.MenuEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.DictionaryItem.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.DictionaryItemEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.Tree.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.TreeItem.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.Behavior.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.BehaviorEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.MenuBehavior.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.DatabaseConnect.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.DatabaseConnectEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.Server.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Sys.ServerEx.xml,SmartLife.Share.Models" />
        <!--Share.Pub的映射-->
        <sqlMap embedded="Pub.User.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Group.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.GroupEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.GroupPermit.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.GroupMember.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.GroupMemberEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Area.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Area_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.AreaEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.UserArea.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.UserMappingWeiXin.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ServiceStation.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ServiceStationEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ServiceStation_ForMonitor_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.UserEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Reminder.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ReminderEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ReminderObject.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SmsSend.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SmsSendEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Location.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.LocationEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Attachment.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Accounting_Period.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.CallObject.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Flow.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.FlowEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.FlowDefine.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.FlowDefineMapping.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Survey.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SurveyItem.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SurveyResult.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SurveyResultEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SurveyBlock.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Table.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.TableJoin.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Column.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ColumnEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SetSolution.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Set.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SubSet.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SubSetColumn.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.SubSetColumnEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Article.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ArticleEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ArticleColumn.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ArticleColumnEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ArticleColumnPermit.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ArticleColumn_Relation.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.Device.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.DeviceEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.MerchantOpenArea.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.MerchantUser.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.PensionAgencyUser.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pub.ReportTest.xml,SmartLife.Share.Models" />

      <!--Share.Cer的映射-->
        <sqlMap embedded="Cer.Redirect.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Cer.ObjectToken.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Cer.DeployNode.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Cer.DeployNodeEx.xml,SmartLife.Share.Models" />
        <!--Share.Oca的映射-->
        <sqlMap embedded="Oca.Ewallet.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldMan.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldManBaseInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldManBaseInfoEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldManBaseInfo_ForMonitor_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldManFamilyInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldManLocateInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldManConfigInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldManComplainInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldManComplainInfoEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.MutualAidPerson.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.FamilyMember.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.FamilyCamera.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.Ewallet_OldMan.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.Ewallet_Merchant.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.Ewallet_Recharge_Record.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.Ewallet_Charge_Record.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.CallCenter.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.CallCenterEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.CallService_ForMonitor_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.CC_Group.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.CC_GroupEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.CC_Ext.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.CallService.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.CallServiceEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceCallBack.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceCallBackEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceTrackLog.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceFamilyResponse.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceWorkOrder.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceWorkOrderEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceReceive.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceVoice.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.MerchantServeItem.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.MerchantServeMode.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.OldManLocateInfoEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.MerchantServePeriod.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.CallRecord.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.EPay_Package.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.EPay_PackageEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.EPay_AssessPackage.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.EPay_PackageItem.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.EPay_OldManAccount.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.EPay_RechargeRecord.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.EPay.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.Merchant.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.MerchantArea.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.MerchantServiceReserve.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.MerchantServiceReserveEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.MerchantServeManMappingOldMan.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServeRecord.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceListDaily_All_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.InstitutionsCareCenter.xml,SmartLife.Share.Models" />
        <!--Mobile的映射-->
        <sqlMap embedded="Oca.CallService4M.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Oca.ServiceTrackLog4M.xml,SmartLife.Share.Models" />
        <!--Bas的映射-->
        <sqlMap embedded="Bas.ResidentBaseInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.ResidentBaseInfoEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.ResidentMigrateLog.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.RoadBaseInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.BuildingBaseInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.BuildingUnitBaseInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.BuildingUnitBaseInfo_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.HouseBaseInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.HouseBaseInfo_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.FamilyBaseInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.FamilyBaseInfo_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.ResidentIDNoRequisition.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.ResidentIDNoRequisitionEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Bas.ResidentActivityLog.xml,SmartLife.Share.Models" />
        <!--Eva的映射-->
        <sqlMap embedded="Eva.EvaluatedBaseInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Eva.EvaluatedBaseInfo_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Eva.EvaluatedReport.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Eva.EvaluatedRequisition.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Eva.EvaluatedRequisition_V.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Eva.EvaluatedRequisition_VEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Eva.EvaluationInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Eva.EvaluatedBaseInfoEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Eva.EvaluatedReportEx.xml,SmartLife.Share.Models" />
        <!--Pam的映射-->
        <sqlMap embedded="Pam.OldManMappingServeMan.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.OldManMappingServeManEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.PensionAgencyObjectBaseInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.PensionAgencyObjectBaseInfoEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.Room.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.RoomEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.RoomOldMan.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.UserMappingRoom.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.ServeMan.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.ServeManEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.StationInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.WorkExecute.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.WorkExecuteEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.WorkPlan.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.WorkPlanEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.AgencyObjectConfigInfo.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.AssessmentItem.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.AssessmentResult.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.CourseSchedule.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.CourseScheduleEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.DeviceMsgNotice.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.DeviceMsgNoticeEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.BookMeal.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.BookMealEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="Pam.SetMeal.xml,SmartLife.Share.Models" />

      <!--Dcc的映射-->
      <sqlMap embedded="Dcc.DayCareObjectBaseInfo.xml,SmartLife.Share.Models" />

      <sqlMap embedded="WeiXin.Share.xml,SmartLife.Share.Models" />
        <!--WeiXin.Meb.的映射-->
        <sqlMap embedded="WeiXin.Meb.NormalAccount.xml,SmartLife.Share.Models" />
        <sqlMap embedded="WeiXin.Meb.ServiceAccount.xml,SmartLife.Share.Models" />
        <sqlMap embedded="WeiXin.Pub.WXButton.xml,SmartLife.Share.Models" />
        <sqlMap embedded="WeiXin.Meb.NormalAccountEx.xml,SmartLife.Share.Models" />
        <!--WeiXin.Pub.的映射-->
        <sqlMap embedded="WeiXin.Pub.WXMessageTemplate.xml,SmartLife.Share.Models" />
        <sqlMap embedded="WeiXin.Pub.WXStationAuthRequest.xml,SmartLife.Share.Models" />
        <sqlMap embedded="WeiXin.Pub.WXStationAuthRequestEx.xml,SmartLife.Share.Models" />
        <sqlMap embedded="WeiXin.Pub.WXSend.xml,SmartLife.Share.Models" />
        <sqlMap embedded="WeiXin.Pub.WXCheckInEx.xml,SmartLife.Share.Models" />
        <!--WeiXin.Tmp.的映射-->
        <sqlMap embedded="Tmp.XlsOfResidentBaseInfo.xml,SmartLife.Share.Models" />
    </sqlMaps>
</sqlMapConfig>
