<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  <alias>
    <typeAlias  alias="StringStringDictionary" type="e0571.web.core.TypeInherited.StringStringDictionary,web.core" />
    <typeAlias  alias="StringObjectDictionary" type="e0571.web.core.TypeInherited.StringObjectDictionary,web.core" />
    <typeAlias  alias="HybridDictionary" type="System.Collections.Specialized.HybridDictionary" />
  </alias>
  <sqlMaps> 
    <!--共享的映射--> 
    <sqlMap embedded="NativeSql.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Share.xml,SmartLife.Share.Models" />
    <sqlMap embedded="SQLServer.Job.Share.xml,SmartLife.Share.Models" />
    <!--Share.Sys的映射--> 
    <sqlMap embedded="Sys.Platform.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Application.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.WhiteList.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Parameter.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.ApplicationAccessibility.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.PlatformApplication.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Menu.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.MenuEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.DictionaryItem.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.DictionaryItemEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Tree.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.TreeItem.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Behavior.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.BehaviorEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.MenuBehavior.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.DatabaseConnect.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.DatabaseConnectEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Server.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.ServerEx.xml,SmartLife.Share.Models" />
    <!--Share.Pub的映射-->
    <sqlMap embedded="Pub.User.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Group.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.GroupEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.GroupPermit.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.GroupMember.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Area.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Area_V.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.AreaEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.UserArea.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.ServiceStation.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.ServiceStationEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.UserEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Reminder.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.ReminderEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SmsSend.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SmsSendEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Attachment.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Accounting_Period.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.CallObject.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Flow.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.FlowDefine.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Survey.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SurveyItem.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SurveyResult.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SurveyResultEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SurveyBlock.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Table.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.TableJoin.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Column.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.ColumnEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SetSolution.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Set.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SubSet.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SubSetColumn.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.SubSetColumnEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Article.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.ArticleColumn.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.ArticleColumnPermit.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Device.xml,SmartLife.Share.Models" />
    <!--Share.Log的映射-->
    <sqlMap embedded="Log.DeviceReport.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Log.DeviceReportEx.xml,SmartLife.Share.Models" />
    <!--Share.Cer的映射-->
    <sqlMap embedded="Cer.Redirect.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Cer.ObjectToken.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Cer.DeployNode.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Cer.DeployNodeEx.xml,SmartLife.Share.Models" />
    <!--Share.Auth的映射-->
    <sqlMap embedded="Auth.LisenceUser.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Auth.Module.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Auth.AreaModule.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Auth.AreaModuleEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Auth.AreaModuleSetting.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Auth.GroupModule.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Auth.GroupModuleEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Auth.GroupModuleSetting.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Auth.Auth.xml,SmartLife.Share.Models" />
  </sqlMaps>
</sqlMapConfig>
