<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  <alias>
    <typeAlias  alias="StringStringDictionary" type="e0571.web.core.TypeInherited.StringStringDictionary,web.core" />
    <typeAlias  alias="StringObjectDictionary" type="e0571.web.core.TypeInherited.StringObjectDictionary,web.core" />
    <typeAlias  alias="HybridDictionary" type="System.Collections.Specialized.HybridDictionary" /> 
  </alias>
  <sqlMaps> 
    <!--共享的映射--> 
    <sqlMap embedded="NativeSql.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Share.xml,SmartLife.Share.Models" />
    <!--Share.Sys的映射-->
    <sqlMap embedded="Sys.DictionaryItem.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Sys.Parameter.xml,SmartLife.Share.Models" />
    <sqlMap embedded="WeiXin.Share.xml,SmartLife.Share.Models" />
    <!--Share.Pub的映射-->
    <sqlMap embedded="Pub.LocationEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.Reminder.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.ReminderEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pub.ReminderObject.xml,SmartLife.Share.Models" />
    <!--WeiXin.Meb.的映射-->
    <sqlMap embedded="WeiXin.Meb.NormalAccount.xml,SmartLife.Share.Models" />
    <sqlMap embedded="WeiXin.Meb.NormalAccountFollow.xml,SmartLife.Share.Models" />
    <sqlMap embedded="WeiXin.Meb.ServiceAccount.xml,SmartLife.Share.Models" />
    <sqlMap embedded="WeiXin.Meb.NormalAccountEx.xml,SmartLife.Share.Models" />
    <!--WeiXin.Pub.的映射-->
    <sqlMap embedded="WeiXin.Pub.WXButton.xml,SmartLife.Share.Models" />
    <sqlMap embedded="WeiXin.Pub.WXMessageTemplate.xml,SmartLife.Share.Models" />
    <sqlMap embedded="WeiXin.Pub.WXStationAuthRequest.xml,SmartLife.Share.Models" />
    <sqlMap embedded="WeiXin.Pub.WXStationAuthRequestEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="WeiXin.Pub.WXSend.xml,SmartLife.Share.Models" />
    <sqlMap embedded="WeiXin.Pub.WXCheckIn.xml,SmartLife.Share.Models" />
    <!--Oca的映射--> 
    <sqlMap embedded="Oca.ServiceWorkOrder.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Oca.MerchantServiceReserveEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Oca.ServeRecord.xml,SmartLife.Share.Models" />
  </sqlMaps>
</sqlMapConfig>
