<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  <alias>
    <typeAlias  alias="StringStringDictionary" type="e0571.web.core.TypeInherited.StringStringDictionary,web.core" />
    <typeAlias  alias="StringObjectDictionary" type="e0571.web.core.TypeInherited.StringObjectDictionary,web.core" />
    <typeAlias  alias="HybridDictionary" type="System.Collections.Specialized.HybridDictionary" />
  </alias>
  <sqlMaps> 
    <!--共享的映射--> 
    <sqlMap embedded="NativeSql.xml,SmartLife.Share.Models" /> 
    <sqlMap embedded="Sys.Parameter.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Inc.SyncIn.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Inc.SyncOut_ServiceWorkOrder_120701.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Dcc.Dcc.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Dcc.DayCareObject4AIO.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pam.WorkExecuteEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pam.DeviceEx.xml,SmartLife.Share.Models" />
    <sqlMap embedded="Pam.PA.xml,SmartLife.Share.Models" />
  </sqlMaps>
</sqlMapConfig>
