<div id="toolbar-B181104">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
        onclick="add()">新增</a> <a href="javascript:void(0)" class="easyui-linkbutton"
            iconcls="icon-edit" plain="true" onclick="edit()">编辑</a> <a href="javascript:void(0)"
                class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="remove()">
                删除</a>
</div>
<table id="dg-B181104" >
</table>
<div id="dlg-B181104" class="easyui-dialog" style="width: 360px; height: 210px; padding: 10px;"
 closed="true" cache="false" buttons="#btn-B181104"  >
    <div class="ftitle"></div>
    <form id="fm-B181104" method="post" novalidate>
    <input type="hidden" name="GroupId" id="groupid-B181104" />
    <div class="fitem">
        <label>
            角色编码:</label>
        <input name="GroupCode" class="easyui-validatebox" required="true" missingMessage="角色编码不能为空"> 
    </div>
    <div class="fitem">
        <label>
            角色名称:</label>
        <input name="GroupName" class="easyui-validatebox" required="true" missingMessage="角色名称不能为空">
    </div>
    <div class="fitem">
        <label >
            角色说明:</label>
        <textarea name="Description" style="width:150px;" ></textarea>
    </div>
    </form>
</div>
<div id="btn-B181104">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">
        确定</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
            onclick="cancel()">取消</a>
</div> 
<script type="text/javascript">

    $(function () {
        models[currentMenuCode] = {
            gridId: 'dg-' + currentMenuCode,
            toolbarId: 'toolbar-' + currentMenuCode,
            dialogId: 'dlg-' + currentMenuCode,
            formId: 'fm-' + currentMenuCode,
            buttonId: 'btn-' + currentMenuCode,
            pkId: 'groupid-' + currentMenuCode,
            pk: 'GroupId',
            getPKValueWhenAdd: function () {
                return window.contants.guidAutoGenerate;
            },
            changeFormDataBeforeSubmit: function (formData) {
                formData["AreaId"] = models[currentMenuCode].defaultModel.AreaId;
            },
            uiMode: 'list',
            entityName: '用户角色管理',
            baseModelUrl: baseCMSInvokeUrl + '/Pub/GroupService/',
            defaultModel: { AreaId: (top.objectId == '*' ? '00000' : top.appDeployArea.id), GroupType: "00002", SystemFlag: 0, Status: 1 }
        };
        autosize(models[currentMenuCode].gridId);

        $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
            title: "",
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            url: models[currentMenuCode].baseModelUrl + 'ListForEasyUIgrid',
            method: 'POST',
            toolbar: '#' + models[currentMenuCode].toolbarId,
            queryParams: {
                sort: 'GroupCode',
                order: 'asc',
                instance: {
                    AreaId: models[currentMenuCode].defaultModel.AreaId,
                    Status: models[currentMenuCode].defaultModel.Status,
                    GroupType: models[currentMenuCode].defaultModel.GroupType,
                    SystemFlag: models[currentMenuCode].defaultModel.SystemFlag
                }
            },
            onDblClickRow: function (idx, row) {
                edit(row);
            },
            columns: [[
        { field: 'GroupId', title: '角色编号', width: 150, hidden: true },
        {field: 'GroupCode', title: '角色编码', width: 100, sortable: true },
        { field: 'GroupName', title: '角色名称', width: 200 },
        { field: 'Description', title: '描述', width: 400 },
        { field: 'CheckInTime', title: '录入时间', width: 135, align: 'center', formatter: easyuigrid_dateFormatter, datefmt: "yyyy-MM-dd HH:mm:ss" }
    ]],
            loader: easyuiLoader
        })).datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });

    });
</script>