<div id="search-sample-B180713" title="查询" style="overflow: auto; padding: 3px;">
    <form id="fm-search-rough-B180713" method="post">
    <table width="100%">
        <table width="100%">
            <tr>
                <td style="text-align: left">
                    关键字：
                    <input name="KeyWord" class="easyui-validatebox" />
                </td>
                <td style="text-align: left">
                    操作开始时间：
                    <input name="OperatedOn_Start" class="Wdate" onfocus="WdatePicker()" />
                    操作结束时间：
                    <input name="OperatedOn_End" class="Wdate" onfocus="WdatePicker()" />
                </td>
                <td style="width: 90px;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="exec(true)">
                        查询</a>
                </td>
                <td style="width: 90px;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" onclick="resetfm(true)">
                        清空</a>
                </td>
                <td style="width: 90px;">
                    <a behaviorcode="10" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add"
                        plain="true" onclick="query()">高级查询</a>
                </td>
            </tr>
        </table>
    </table>
    </form>
</div>
<div id="toolbar-B180713">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
        onclick="openRecharge()">充值</a>
</div>
<table id="dg-B180713">
</table>
<div id="dlg-B180713" class="easyui-dialog" style="width: 600px; height: 430px; padding: 5px;"
    closed="true" cache="false" buttons="#btn-B180713">
    <div>
        <form id="fm-B180713" method="post" novalidate>
        <div class="fitem">
            <label>
                选择套餐:</label>
            <input id="PackageId" name="PackageName" class="easyui-validatebox" style="width: 300px;" />
        </div>
        <div class="fitem">
            <label>
                充值从:</label>
            <table>
                <tr>
                    <td>
                        <input id="PeriodId1" type="text" class="easyui-my97" />
                    </td>
                    <td>
                        <label>
                            到:</label>
                    </td>
                    <td>
                        <input id="PeriodId2" type="text" class="easyui-my97" />
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                            onclick="searchRechargeObject(true)">查找充值对象</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="fitem">
            <table id="c-RechargeObject" style="display: none;">
                <tr>
                    <td style="width: 50%;">
                        <table id="dg-ObjectCanAssign">
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-selectall" plain="true"
                                        onclick="assignAll()"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-selectone" plain="true"
                                        onclick="assignSelected()"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-deselectone"
                                        plain="true" onclick="unAssignSelected()"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-deselectall"
                                        plain="true" onclick="unAssignAll()"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 50%;">
                        <table id="dg-ObjectAssigned">
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        </form>
    </div>
</div>
<div id="btn-B180713">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="recharge()">
        确定</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
            onclick="cancel()">取消</a>
</div>
<div id="dlg-search-B180713" class="easyui-dialog" style="width: 420px; height: 200px;
    padding: 10px;" closed="true" cache="false" buttons="#btn-search-B180713">
    <div class="ftitle">
    </div>
    <form id="fm-search-B180713" method="post" novalidate>
    <div class="fitem">
       <label>
            充值标题:</label>
        <input name="RechargeTitle">
    </div>
    <div class="fitem">
        <label>
            充值对象:</label>
        <input  name="ObjectName"  />
    </div>
    </form>
</div>
<div id="btn-search-B180713">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="exec()">
        查询</a> <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clear()">清空</a>
    <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="quit()">关闭</a>-->
</div>
<script type="text/javascript">
    var editIndex = undefined;
    var currentPackage;
    $(function () {
        validateUI();
        getAll([top.ajaxData_InvokeUrl + '/GetDictionaryItem/11013', top.ajaxData_InvokeUrl + '/GetDictionaryItem/11023', top.ajaxData_InvokeUrl + '/GetDictionaryItem/11022'], function (serveItemBs, rechargeTypes, feeTypes) {

            models[currentMenuCode] = {
                gridId: 'dg-' + currentMenuCode,
                toolbarId: 'toolbar-' + currentMenuCode,
                dialogId: 'dlg-' + currentMenuCode,
                dlgSearchId: 'dlg-search-' + currentMenuCode,
                fmSearchId: 'fm-search-' + currentMenuCode,
                btnSearchId: 'btn-search-' + currentMenuCode,
                fmSearchRoughId: 'fm-search-rough-' + currentMenuCode,
                formId: 'fm-' + currentMenuCode,
                buttonId: 'btn-' + currentMenuCode,
                pkId: 'packageid-' + currentMenuCode,
                pk: 'PackageId',
                getPKValueWhenAdd: function () {
                    return window.contants.guidAutoGenerate;
                },
                changeSearchFormDataBeforeSubmit: function (formData) {
                    //KeyWord模糊查询专用
                    formData['RechargeTitle'] = formData['KeyWord'];
                    formData['ObjectName'] = formData['KeyWord'];
                    formData['OperatedOn'] = formData['KeyWord'];
                    formData['KeyWord'] = undefined;
                },
                changeFormDataBeforeSubmit: function (formData) {

                },
                onBeforeDialogOpen: function (editrow) {

                },
                uiMode: 'list',
                entityName: '充值记录',
                baseModelUrl: baseCMSInvokeUrl + '/Oca/EPay_RechargeRecordService/',
                defaultModel: { AccountNature: '00002'}//个人
                //defaultModelWhenAdd: { Birthday: (new Date()).pattern("yyyy-MM-dd") }
            };
            autosize(models[currentMenuCode].gridId);
            $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
                title: "",
                pagination: true,
                rownumbers: true,
                singleSelect: false,
                url: models[currentMenuCode].baseModelUrl + 'ListForEasyUIgridPage',
                method: 'POST',
                toolbar: '#' + models[currentMenuCode].toolbarId,
                queryParams: {
                    sort: 'OperatedOn',
                    order: 'desc',
                    instance: {
                        AccountNature: models[currentMenuCode].defaultModel.AccountNature
                    }
                },
                columns: [[
                { field: 'Id', title: '充值编号', width: 150, hidden: true },
                //{ field: 'CK', title: '', checkbox: true },
                {field: 'RechargeTitle', title: '充值标题', width: 600, align: 'left' },
                { field: 'ObjectName', title: '充值对象', width: 100, align: 'center' },
                { field: 'OperatedOn', title: '操作日期', width: 100, align: 'center', formatter: easyuigrid_dateFormatter, datefmt: "yyyy-MM-dd" },
                { field: 'ChargeNum', title: '充值数', width: 80, align: 'right', formatter: function (value, row) {
                    if (row.FeeType == '00001') {
                        return value + "次";
                    }
                    else {
                        return value + "小时";
                    }
                }
                }
        ]],
                loader: easyuiLoader
            })).datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });

            $('#PeriodId1,#PeriodId2').my97({ required: true, disabled: true });
        });
    });

    function searchRechargeObject(bclick) {
        if (currentPackage) {
            $('#c-RechargeObject').show();
            var theHeight = 240;
            $('#dg-ObjectCanAssign').datagrid(easyuigrid_settings({
                title: "可选充值对象",
                height: theHeight,
                //pagination: true,
                rownumbers: true,
                singleSelect: false,
                url: baseCMSInvokeUrl + '/Oca/EPay_RechargeRecordService/ListRechargeObjectAsCanAssign2',
                method: 'POST',
                //toolbar: '#' + models[currentMenuCode].toolbarId,
                //pageSize: 10,
                queryParams: {
                    sort: 'OldManName',
                    order: 'asc',
                    filterFields: [
                    { key: 'PackageId', value: currentPackage.packageId },
                    { key: 'PeriodId1', value: $('#PeriodId1').val() },
                    { key: 'PeriodId2', value: $('#PeriodId2').val() },
                    { key: 'AccountNature', value: models[currentMenuCode].defaultModel.AccountNature },
                    { key: 'AssessLevel', value: currentPackage.AssessLevel }
                ]
                },
                columns: [[
                    { field: 'ObjectId', title: '对象编号', width: 150, hidden: true },
                    { field: 'CK', title: '', checkbox: true },
                    { field: 'ObjectName', title: '老人姓名', width: 100 }
            ]],
                loader: easyuiLoaderForStringObjectDictionary
            }));   //.datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });

            $('#dg-ObjectAssigned').datagrid(easyuigrid_settings({
                title: "已选充值对象",
                height: theHeight,
                //pagination: true,
                rownumbers: true,
                singleSelect: false,
                pageSize: 10,
                data: [],
                queryParams: {
                    sort: 'OldManName',
                    order: 'asc',
                    filterFields: [
                            { key: 'PackageId', value: currentPackage.packageId },
                            { key: 'PeriodId1', value: $('#PeriodId1').val() },
                            { key: 'PeriodId2', value: $('#PeriodId2').val() },
                            { key: 'AccountNature', value: models[currentMenuCode].defaultModel.AccountNature },
                            { key: 'AssessLevel', value: currentPackage.AssessLevel }
                        ]
                },
                columns: [[
                    { field: 'ObjectId', title: '对象编号', width: 150, hidden: true },
                    { field: 'ObjectName', title: '老人姓名', width: 100 }
                    ]],
                loader: easyuiLoaderForStringObjectDictionary
            }));
            //            $('#dg-ObjectAssigned').datagrid('loadData', { total: 0, rows: [] });
            //.datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });
            $('#dg-ObjectAssigned').datagrid("reload");
            if (bclick) {
                var queryParms = $('#dg-ObjectAssigned').datagrid('options').queryParams;
                postTo(baseCMSInvokeUrl + '/Oca/EPay_RechargeRecordService/ListRechargeObjectAsCanAssign3', $.toJSON(queryParms), function (result) {
                    if (result.Success) {
                        var rows = _.map(result.rows, function (o) {
                            return xml2json.parser(o, 'StringObjectDictionary');
                        });
                        $('#dg-ObjectAssigned').datagrid("loadData", rows);
                    }
                }, { async: false });

                //                $('#dg-ObjectAssigned').datagrid({
                //                    url: baseCMSInvokeUrl + '/Oca/EPay_RechargeRecordService/ListRechargeObjectAsCanAssign3',
                //                    queryParams : {
                //                        sort: 'OldManName',
                //                        order: 'asc',
                //                        filterFields: [
                //                            { key: 'PackageId', value: currentPackage.packageId },
                //                            { key: 'PeriodId1', value: $('#PeriodId1').val() },
                //                            { key: 'PeriodId2', value: $('#PeriodId2').val() },
                //                            { key: 'AccountNature', value: models[currentMenuCode].defaultModel.AccountNature },
                //                            { key: 'AssessLevel', value: currentPackage.AssessLevel }
                //                        ]
                //                    }
                //                }); 
            }
        }
        else {
            alertInfo('请选择一个套餐充值！');
        }
    }


    function assignAll() {
        var dataObjectAssigned = $('#dg-ObjectAssigned').datagrid('getRows');
        $('#dg-ObjectAssigned').datagrid('loadData', _.union(dataObjectAssigned, $('#dg-ObjectCanAssign').datagrid('getRows')));
        $('#dg-ObjectCanAssign').datagrid('loadData', []);
    }

    function assignSelected() {
        var rows = $('#dg-ObjectCanAssign').datagrid('getSelections');
        if (rows.length > 0) {
            var dataObjectAssigned = $('#dg-ObjectAssigned').datagrid('getRows');
            var dataObjectCanAssign = $('#dg-ObjectCanAssign').datagrid('getRows');
            $('#dg-ObjectAssigned').datagrid('loadData', _.union(dataObjectAssigned, rows));
            $('#dg-ObjectCanAssign').datagrid('loadData', _.difference(dataObjectCanAssign, rows));
        } else {
            alertInfo('没有选中的老人！');
        }
    }

    function unAssignSelected() {
        var rows = $('#dg-ObjectAssigned').datagrid('getSelections');
        if (rows.length > 0) {
            var dataObjectAssigned = $('#dg-ObjectAssigned').datagrid('getRows');
            var dataObjectCanAssign = $('#dg-ObjectCanAssign').datagrid('getRows');
            $('#dg-ObjectCanAssign').datagrid('loadData', _.union(dataObjectCanAssign, rows));
            $('#dg-ObjectAssigned').datagrid('loadData', _.difference(dataObjectAssigned, rows));
        } else {
            alertInfo('没有选中的老人！');
        }
    }
    function unAssignAll() {
        var dataObjectCanAssign = $('#dg-ObjectCanAssign').datagrid('getRows');
        $('#dg-ObjectCanAssign').datagrid('loadData', _.union(dataObjectCanAssign, $('#dg-ObjectAssigned').datagrid('getRows')));
        $('#dg-ObjectAssigned').datagrid('loadData', []);
    }

    function openRecharge() {
        var result;
        getTo(baseCMSInvokeUrl + '/Oca/EPay_PackageService/SelfListForBinding', null, function (ret) {
            result = _.map(ret.rows, function (o) {
                return xml2json.parser(o, 'StringObjectDictionary');
            });
        }, { async: false });

        $('#PackageId').combobox({
            width: 480,
            required: true,
            method: 'get',
            editable: false,
            data: result,
            //url: baseCMSInvokeUrl + '/Oca/EPay_PackageService/SelfListForBinding',
            valueField: 'PackageId',
            textField: 'PackageName',
            formatter: function (row) {
                var s = '<div style="padding:2px;"><span style="font-weight:bold">' + row.PackageName + '</span><br/>' +
                    '<span style="color:#999">' + row.AssessLevelName + '</span></div>';
                return s;
            },
            onSelect: function (record) {
                currentPackage = record;
                //设置充值说明
                $('#PeriodId1').my97({ required: true, disabled: false, value: Date.today().toString('yyyyMM'), dateFmt: 'yyyyMM' });
                if (record.PeriodType == '00001') {
                    //月度
                    $('#PeriodId2').my97({ required: true, disabled: false, value: Date.today().addYears(1).toString('yyyyMM'), dateFmt: 'yyyyMM' });
                }
                else if (record.PeriodType == '00002') {
                    $('#PeriodId2').my97({ required: true, disabled: false, value: Date.today().addMonths(6).toString('yyyyMM'), dateFmt: 'yyyyMM' });
                }
                else if (record.PeriodType == '00003') {
                    $('#PeriodId2').my97({ required: true, disabled: false, value: Date.today().addMonths(3).toString('yyyyMM'), dateFmt: 'yyyyMM' });
                }
                else if (record.PeriodType == '00004') {
                    $('#PeriodId2').my97({ required: true, disabled: true, value: Date.today().toString('yyyyMM'), dateFmt: 'yyyyMM' });
                }
                searchRechargeObject(false);
            }
        });
        $('#c-RechargeObject').hide();
        currentPackage = "";
        $('#' + models[currentMenuCode].dialogId).dialog({
            inline: false,
            modal: true
        }).dialog('open').dialog('setTitle', '充值对话框');
        $('#PeriodId1,#PeriodId2').val("");
    }
    function recharge() {
        if (currentPackage) {
            var rows = $('#dg-ObjectAssigned').datagrid('getRows');
            if (rows.length > 0) {
                alertConfirm('您确定要充值吗？', function (r) {
                    if (r) {
                        var packageId = currentPackage.PackageId;
                        var periodId1 = $('#PeriodId1').val();
                        var periodId2 = $('#PeriodId2').val();

                        //                        $('#' + models[currentMenuCode].dialogId).block({ message: "充值中..." });
                        postTo(baseCMSInvokeUrl + '/Oca/EPay_RechargeRecordService/Recharge/' + packageId + ',' + models[currentMenuCode].defaultModel.AccountNature + ',' + periodId1 + ',' + periodId2, $.toJSON(rows), function (ret) {
                            if (ret.Success) {
                                alertInfo('充值成功！');
                                $('#' + models[currentMenuCode].gridId).datagrid('load');
                            }
                            $('#' + models[currentMenuCode].dialogId).dialog('close');
                        },
                        { complete: function () {
                            $('#' + models[currentMenuCode].dialogId);
                        }
                        });
                    }
                });
            }
            else {
                alertInfo('请选择充值对象！');
            }
        }
        else {
            alertInfo('请选择一个套餐充值！');
        }
    }
</script>
