<table align="center" style="margin: 0px auto; padding: 0px; width: 80%; margin-top: 15px;"
    cellspacing="0" cellpadding="0">
    <colgroup>
        <col align="center" />
    </colgroup>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室一')">聊天室一</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室二')">聊天室二</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室三')">聊天室三</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室四')">聊天室四</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室五')">聊天室五</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室六')">聊天室六</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室七')">聊天室七</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室八')">聊天室八</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室九')">聊天室九</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="javascript:void(0)" class="button-chatroom" onclick="openChatRoom('聊天室十')">聊天室十</a>
        </td>
    </tr>
</table>
