<div id="service-B180301">
    <div class="oldman-info-panel">&nbsp;</div>
    <div class="service-middle">
        <div id="location-panel" class="location-panel">地图载入中...</div>
        <div class="service-process-panel" >&nbsp;
        </div>
    </div>
    <div id="infotainment-friendcircle-panel" class="right-panel" >
    </div>
</div>
<script type="text/javascript">
    $(function () {
        loadfiles([
        { type: "css", url: "http://api.map.baidu.com/res/15/bmap.css" },
        { type: "css", url: "../../css/old-care/aid.css" },
        { type: "js", url: "http://api.map.baidu.com/getscript?v=1.5&ak=19c6972bfee08c11cdc76cd41628b69b&services=&t=20130509122407" },
        { type: "js", url: "../../script/old-care/aid.js" }
        ], function () { 
            autosize('service-B180301');
            var urlRoot;
            var outside = getQueryString('outside');
            if (outside == "1") {
                urlRoot = getUrlRootFromOutside('views/');
            }
            else {
                urlRoot = $('#tt').size() == 0 ? "../" : "views/";
            } 
            getHtml(urlRoot + 'shared/oldman-info-panel.htm', function (str) {
                $('#service-B180301 .oldman-info-panel').html(str);
            });

            var longitude = '120.219375';
            var latitude = '30.259244';
            initMap("location-panel", longitude, latitude);

            getHtml('../shared/service-process-panel.htm', function (str) {
                $('#service-B180301 .service-process-panel').html(str);
            });

            getHtml(urlRoot + 'old-care/infotainment-friendcircle-panel.htm', function (str) {
                $('#service-B180301 #infotainment-friendcircle-panel').html(str);
            });
        });
        
    });
</script>