<div id="search-sample-B180601" title="查询" style="overflow: auto; padding: 3px;">
    <form id="fm-search-rough-B180601" method="post">
    <table width="55%">
        <tr>
            <td style="text-align: left">
                关键字：<input name="KeyWord" class="easyui-validatebox" style="width: 105px" />
            </td>
            <td style="text-align: left">
                街道社区:
                <input id="StreetAndCommunity" class="easyui-validatebox" style="width: 95px" />
                <input type="hidden" name="AreaId2_Start" id="AreaId2_Start" />
                <input type="hidden" name="AreaId3_Start" id="AreaId3_Start" />
            </td>
            <td style="width: 90px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="exec(true)">
                    查询</a>
            </td>
            <td style="width: 90px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" onclick="resetfm(true)">
                    清空</a>
            </td>
            <td style="width: 90px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
                    onclick="query()">高级查询</a>
            </td>
        </tr>
    </table>
    </form>
</div>
<div id="toolbar-B180601">
    <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="query()">高级查询</a>-->
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true"
        onclick="market()">获取当前定位</a>
</div>
<table id="dg-B180601">
</table>
<div id="location-panel" style="width: 45%; float: right; position: absolute; z-index: 99;
    right: 0; top: 0;">
    地图载入中...
</div>
<div id="dlg-search-B180601" class="easyui-dialog" style="width: 420px; height: 200px;
    padding: 10px;" closed="true" cache="false" buttons="#btn-search-B180601">
    <div class="ftitle">
    </div>
    <form id="fm-search-B180601" method="post" novalidate>
    <div class="fitem">
        <label>
            老人姓名:</label>
        <input name="OldManName">
    </div>
    <div class="fitem">
        <label>
            呼叫号码:</label>
        <input name="CallNo">
    </div>
    <div class="fitem">
        <label>
            身份证:</label>
        <input name="IDNo">
    </div>
    </form>
</div>
<div id="btn-search-B180601">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="exec()">
        查询</a> <a href="javascript:void(0)" class="easyui-linkbutton" onclick="resetfm()">清空</a>
</div>
<script type="text/javascript">
    $(function () {
        validateUI();
        var areas;
        models[currentMenuCode] = {
            gridId: 'dg-' + currentMenuCode,
            toolbarId: 'toolbar-' + currentMenuCode,
            dialogId: 'dlg-' + currentMenuCode,
            formId: 'fm-' + currentMenuCode,
            buttonId: 'btn-' + currentMenuCode,
            dlgSearchId: 'dlg-search-' + currentMenuCode,
            fmSearchId: 'fm-search-' + currentMenuCode,
            btnSearchId: 'btn-search-' + currentMenuCode,
            fmSearchRoughId: 'fm-search-rough-' + currentMenuCode,
            pkId: 'oldmanid-' + currentMenuCode,
            pk: 'OldManId',
            getPKValueWhenAdd: function () {
                return window.contants.guidAutoGenerate;
            },
            changeSearchFormDataBeforeSubmit: function (formData) {
                //KeyWord模糊查询专用
                formData['OldManName'] = formData['KeyWord'];
                formData['IDNo'] = formData['KeyWord'];
                formData['CallNo'] = formData['KeyWord'];
                formData['Address'] = formData['KeyWord'];
                formData['InputCode1'] = formData['KeyWord'];
                formData['InputCode2'] = formData['KeyWord'];
                formData['KeyWord'] = undefined;
            },
            uiMode: 'list',
            entityName: '老人实时定位信息',
            baseModelUrl: baseCMSInvokeUrl + '/Oca/OldManConfigInfoService/',
            defaultModel: { AreaId: (top.objectId == '*' ? '00000' : top.appDeployArea.id), OldManStatus: 1 }
        };

        autosize(models[currentMenuCode].gridId, -30);
        autoSizeofWidth(models[currentMenuCode].gridId);

        getTo(ajaxData_InvokeUrl + '/GetArea', null, function (result) {
            areas = result;
        }, { async: false });
        $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
            title: "",
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            url: models[currentMenuCode].baseModelUrl + 'ListForEasyUIgridPage',
            method: 'POST',
            toolbar: '#' + models[currentMenuCode].toolbarId,
            queryParams: {
                sort: 'isnull(b.OperatedOn,a.OperatedOn)',
                order: 'desc',
                filterFields: [
                        { key: 'OldManStatus', value: models[currentMenuCode].defaultModel.OldManStatus },
                        { key: 'AreaId', value: models[currentMenuCode].defaultModel.AreaId }
                        ]
            },
            onDblClickRow: function (idx, row) {
                market(row);
            },
            columns: [[
                { field: 'OldManId', title: '老人编号', width: 150, hidden: true },
                { field: 'OldManName', title: '姓名', width: 80, align: 'center' },

                { field: 'Gender', title: '性别', width: 50, align: 'center', formatter: easyuigrid_genderFormatter },
                { field: 'Birthday', title: '年龄', width: 60, align: 'center', formatter: easyuigrid_age2Formatter, datefmt: "yyyy-MM-dd" },
                { field: 'CallNo', title: '呼叫号码', width: 100, align: 'center' },
                { field: 'AreaId2', title: '街道', width: 150, formatter: easyuigrid_ajaxFormatter, vals: areas, textField: "AreaName", valueField: "AreaId" },
                { field: 'AreaId3', title: '社区', width: 150, formatter: easyuigrid_ajaxFormatter, vals: areas, textField: "AreaName", valueField: "AreaId" },

            //{ field: 'LocateFlag', title: '开通GPS', width: 80, align: 'center', formatter: function GPSFlag(val, row, idx) { if (row.LocateFlag) { return "是"; } else { return "否" } } },
                {field: 'Address', title: '家庭地址', width: 300 }
        ]],
            loader: easyuiLoaderForStringObjectDictionary
        })).datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });

        initTree('easyUIComboTree', 'StreetAndCommunity', {
            width: 152,
            panelWidth: 250,
            panelHeight: 150,
            editable: false,
            onLoadSuccess: function () {
                var node = $('#StreetAndCommunity').combotree('tree').tree('getRoot');
                $('#StreetAndCommunity').combotree('tree').tree("collapseAll");
                $('#StreetAndCommunity').combotree('tree').tree('expand', node.target);
            },
            onClick: function (treeNode) {
                $('#AreaId2_Start').val(null);
                $('#AreaId3_Start').val(null);
                var areaId = treeNode.id; //选中节点id
                var areaLevels = treeNode.attributes.Levels; //当前节点的层次
                if (areaLevels == 3) {
                    $('#AreaId2_Start').val(areaId);
                }
                else if (areaLevels == 4) {
                    $('#AreaId3_Start').val(areaId);
                }
            }
        }, function (d) {
            getTreeData('01$01$02', "OrderNo asc", '{"DictionaryId":"00005" , "ItemId":"' + (top.objectId == '*' ? '00000' : top.appDeployArea.id) + '" , "UserId":"' + top.window.gUserId + '"}', d);
        });

        loadfiles([
        { type: "css", url: "http://api.map.baidu.com/res/15/bmap.css" },
        { type: "css", url: "../../css/old-care/aid.css" },
        { type: "js", url: "http://api.map.baidu.com/getscript?v=1.5&ak=19c6972bfee08c11cdc76cd41628b69b&services=&t=20130509122407" },
        { type: "js", url: "../../script/old-care/aid.js" }
        ], function () {
            autosize("location-panel");
            var longitude = '120.219375';
            var latitude = '30.259244';
            initMap("location-panel", longitude, latitude);
        });

    });

    var rtlsId;
    var localTime;
    function market(row) {
        if (!row) {
            row = $('#' + models[currentMenuCode].gridId).datagrid('getSelected');
        }
        if (row) {
            //发送实时信息
            SendRtlsSms(row);
            foo(row);
        }
        else {
            alertInfo('请选中要查看实时定位的记录！');
        }
    }

    function foo(row) {
        if (!map) {
            alertInfo("请等待地图初始化未成功...");
            return;
        }
        if (rtlsId) clearInterval(rtlsId);
        rtlsId = setInterval(function () { interalRun(row); }, 10000);
    }

    function interalRun(row) {
        var formData = { 'sort': 'LocateTime', 'order': 'desc', 'page': '1', 'rows': '1' };
        formData.filterFields = [{ 'key': 'OldManId', 'value': row.OldManId}];

        postTo(top.baseCMSInvokeUrl + '/Oca/OldManLocateInfoService/ListForEasyUIgrid', $.toJSON(formData)).done(function (result) {
            if (result.Success) {
                var rows = _.map(result.rows, function (o) {
                    return xml2json.parser(o, 'StringObjectDictionary');
                });

                //取到新的定位时间则停止定时获取定位时间
                if (localTime) {
                    _.each(rows, function (o, i) {
                        if (i == 0 && localTime != o.LocateTime.toString() && rtlsId) {
                            clearInterval(rtlsId);
                            return false;
                        }
                    });
                }
                marketlatlng(row.OldManName, rows);
            }
        });
    }

    //标记点
    function marketlatlng(name, rows) {
        map.clearOverlays();    //清除所有覆盖层
        _.each(rows, function (o, i) {
            if (i == 0) {
                var point = new BMap.Point(o.LocateLongitudeS, o.LocateLatitudeS);
                map.centerAndZoom(point, 16);
                localTime = o.LocateTime.toString();
                var mak = retPointMarker(point);
                var txt = name + ": " + o.LocateTime.toString().replace(/\//g, "-");
                createPointLabel(mak, point, txt, false);
            }
        });
    }

    //自动调整宽度
    function autoSizeofWidth(id) {
        $("#" + id).width(parseFloat($("#" + id).parent().width()) * 0.549);
    }
</script>
