<div id="search-sample-B180606" title="查询" style="overflow: auto; padding: 3px;">
    <form id="fm-search-rough-B180606" method="post">
    <table width="100%">
        <tr>
            <td style="text-align: left">
                关键字：<input name="KeyWord" class="easyui-validatebox" />
            </td>
            <td style="text-align: left" >
                街道社区:
                <input id="StreetAndCommunity" class="easyui-validatebox" />
                <input type="hidden" name="AreaId2_Start" id="AreaId2_Start" />
                <input type="hidden" name="AreaId3_Start" id="AreaId3_Start" />
            </td>
            <td style="width: 90px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="exec(true)">
                    查询</a>
            </td>
            <td style="width: 90px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" onclick="resetexec()">
                    清空</a>
            </td>
            <td style="width: 90px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
                    onclick="query()">高级查询</a>
            </td>
        </tr>
    </table>
    </form>
</div>
<div id="toolbar-B180606">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="openGps()">开通围栏报警</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="closeGps()">关闭围栏报警</a>
</div>
<table id="dg-B180606" >
</table>
<div id="dlg-B180606" class="easyui-dialog" style="width: 620px; height: 200px; padding: 10px;"
 closed="true" cache="false" buttons="#btn-B180606"  >
    <div class="ftitle"></div>
    <form id="fm-B180606" method="post" novalidate>
    <input type="hidden" name="OldManId" id="oldmanid-B180606" /> 
    <div class="fitem">
        <label>
            老人姓名:</label>  
            <input id="OldManName" readonly style="border:none; margin-top:3px;" />
        <label>
        <label>
            身份证号:</label> 
        <input id="IDNo" readonly  style="border:none; margin-top:3px;" />
    </div> 
    <div class="fitem">
        <label>
            呼叫号码:</label> 
        <input id="CallNo" readonly  style="border:none; margin-top:3px;" />
        <label>
            &nbsp;报警范围:</label> 
        <input name="FenceRadius" /><label>米</label> 
    </div> 
    </form>
</div>
<div id="btn-B180606">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="savegps()">
        确定</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
            onclick="cancel()">取消</a>
</div> 
<div id="dlg-search-B180606" class="easyui-dialog" style="width: 560px; height: 200px; padding: 10px;"
 closed="true" cache="false" buttons="#btn-search-B180606"  >
    <div class="ftitle"></div>
    <form id="fm-search-B180606" method="post" novalidate>
    <div class="fitem">
        <label>
            老人姓名:</label>
        <input name="OldManName"  >
        <label style="margin-left:7px;">
            街道社区:</label> 
        <input id="AreaOfStreetAndCommunity"   /> 
        <input type="hidden" name="AreaId2" id="AreaId2" />
        <input type="hidden" name="AreaId3" id="AreaId3" />
    </div>
    <div class="fitem">
        <label>
            　身份证:</label>
        <input name="IDNo" >
        <label style="margin-left:7px;">
            呼叫号码:</label>
        <input name="CallNo">
    </div>
    </form>
</div>
<div id="btn-search-B180606">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="exec()"> 查询</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="resetfm()">清空</a>
</div>
<script type="text/javascript">
    $(function () {
        validateUI();
        var _lastRow;
        var areas;

        models[currentMenuCode] = {
            gridId: 'dg-' + currentMenuCode,
            toolbarId: 'toolbar-' + currentMenuCode,
            dialogId: 'dlg-' + currentMenuCode,
            dialogOption: {
                onBeforeOpen: function () {
                    if (!_lastRow) {
                        _lastRow = $('#' + models[currentMenuCode].gridId).datagrid('getSelected');
                    }
                    $('#OldManName').val(_lastRow.OldManName);
                    $('#IDNo').val(_lastRow.IDNo);
                    $('#CallNo').val(_lastRow.CallNo);
                    if ($('#oldmanid-B180606').val() == "") {
                        $('#oldmanid-B180606').val(_lastRow.OldManId);
                    }
                }
            },
            formId: 'fm-' + currentMenuCode,
            buttonId: 'btn-' + currentMenuCode,
            dlgSearchId: 'dlg-search-' + currentMenuCode,
            fmSearchRoughId: 'fm-search-rough-' + currentMenuCode,
            fmSearchId: 'fm-search-' + currentMenuCode,
            btnSearchId: 'btn-search-' + currentMenuCode,
            pkId: 'oldmanid-' + currentMenuCode,
            pk: 'OldManId',
            getPKValueWhenAdd: function () {
                return window.contants.guidAutoGenerate;
            },
            changeSearchFormDataBeforeSubmit: function (formData) {
                //KeyWord模糊查询专用
                formData['OldManName'] = formData['KeyWord'];
                formData['IDNo'] = formData['KeyWord'];
                formData['CallNo'] = formData['KeyWord'];
                formData['Address'] = formData['KeyWord'];
                formData['InputCode1'] = formData['KeyWord'];
                formData['InputCode2'] = formData['KeyWord'];
                formData['KeyWord'] = undefined;
            },
            onBeforeDialogOpen: function () {

                $('#AreaOfStreetAndCommunity').combogrid({
                    delay: 500,
                    width: 220,
                    panelWidth: 360,
                    panelHeight: 240,
                    mode: 'local',
                    data: areas,
                    idField: 'AreaId',
                    textField: 'AreaName',
                    filter: function (q, row) {
                        return row["AreaName"].indexOf(q) != -1 || row["AreaCode"].indexOf(q) != -1 || (row["InputCode1"] && row["InputCode1"].indexOf(q) != -1);
                    },
                    columns: [[
                { field: 'AreaCode', title: '编码', width: 120, sortable: true },
                { field: 'AreaName', title: '名称', width: 220, sortable: true }
            ]],
                    onHidePanel: function () {
                        if ($('#AreaOfStreetAndCommunity').combo('getText') == "") {
                            $('#AreaId2').val("");
                            $('#AreaId3').val("");
                        }
                    },
                    onSelect: function (index, record) {
                        if (record.ParentId.length == 5) {
                            //选择街道
                            $('#AreaId2').val(record.AreaId.toUpperCase());
                            $('#AreaId3').val("");
                        }
                        else {
                            //选择社区
                            $('#AreaId2').val(record.ParentId.toUpperCase());
                            $('#AreaId3').val(record.AreaId.toUpperCase());
                        }
                    }
                });
            },
            uiMode: 'list',
            entityName: '老人设备配置资料',
            baseModelUrl: baseCMSInvokeUrl + '/Oca/OldManConfigInfoService/',
            defaultModel: { AreaId: (top.objectId == '*' ? '00000' : top.appDeployArea.id), OldManStatus: 1 }
        };
        autosize(models[currentMenuCode].gridId);

        getTo(ajaxData_InvokeUrl + '/GetArea', null, function (result) {
            areas = result;
        }, { async: false });

        $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
            title: "",
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            url: models[currentMenuCode].baseModelUrl + 'ListForEasyUIgridPage',
            method: 'POST',
            toolbar: '#' + models[currentMenuCode].toolbarId,
            queryParams: {
                sort: 'isnull(b.OperatedOn,a.OperatedOn)',
                order: 'desc',
                filterFields: [
                        { key: 'OldManStatus', value: models[currentMenuCode].defaultModel.OldManStatus },
                        { key: 'AreaId', value: models[currentMenuCode].defaultModel.AreaId }
                        ]
            },
            onDblClickRow: function (idx, row) {
                _lastRow = row;
                setingGps(row);
            },
            columns: [[
                { field: 'OldManId', title: '老人编号', width: 150, hidden: true },
                { field: 'OldManName', title: '姓名', width: 80, align: 'center' },
                { field: 'IDNo', title: '身份证', width: 150, align: 'center', formatter: easyuigrid_IDNo },
                { field: 'Gender', title: '性别', width: 50, align: 'center', formatter: easyuigrid_genderFormatter },
                { field: 'Birthday', title: '年龄', width: 60, align: 'center', formatter: easyuigrid_age2Formatter, datefmt: "yyyy-MM-dd" },
                { field: 'CallNo', title: '呼叫号码', width: 100, align: 'center' },
                 { field: 'AreaId2', title: '街道', width: 150, formatter: easyuigrid_ajaxFormatter, vals: areas, textField: "AreaName", valueField: "AreaId" },
                { field: 'AreaId3', title: '社区', width: 150, formatter: easyuigrid_ajaxFormatter, vals: areas, textField: "AreaName", valueField: "AreaId" },
                { field: 'LocateFlag', title: '开通定位', width: 80, align: 'center', formatter: function retGPSFlag(val, row, index) { if (val) { return '是'; } else { return '否'; } } },
                { field: 'Address', title: '家庭地址', width: 300 }
        ]],
            loader: easyuiLoaderForStringObjectDictionary
        })).datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });

        initTree('easyUIComboTree', 'StreetAndCommunity', {
            width: 152,
            panelWidth: 250,
            panelHeight: 150,
            editable: false,
            onLoadSuccess: function () {
                var node = $('#StreetAndCommunity').combotree('tree').tree('getRoot');
                $('#StreetAndCommunity').combotree('tree').tree("collapseAll");
                $('#StreetAndCommunity').combotree('tree').tree('expand', node.target);
            },
            onClick: function (treeNode) {
                $('#AreaId2_Start').val(null);
                $('#AreaId3_Start').val(null);
                var areaId = treeNode.id; //选中节点id
                var areaLevels = treeNode.attributes.Levels; //当前节点的层次
                if (areaLevels == 3) {
                    $('#AreaId2_Start').val(areaId);
                }
                else if (areaLevels == 4) {
                    $('#AreaId3_Start').val(areaId);
                }
            }
        }, function (d) {
            getTreeData('01$01$02', "OrderNo asc", '{"DictionaryId":"00005" , "ItemId":"' + (top.objectId == '*' ? '00000' : top.appDeployArea.id) + '" , "UserId":"' + top.window.gUserId + '"}', d);
        });

    });

    function resetexec() {
        $('#StreetAndCommunity').combotree('clear');
        $('#AreaId2_Start').val(null);
        $('#AreaId3_Start').val(null);
        resetfm(true);
    }
    
    
</script>
