*{margin:0px; padding:0px;}
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.selectdiv
{
    margin:0px 0px 10px 0px; 
    padding:0px;
    border: 0px;
    height:100%;
}
.cur
{
    cursor:pointer; 
    display:block;
    color:#000;
    height:22px; 
    line-height:22px; 
    padding:0px 0px 0px 2px;
    font-size:14px;
}
.am
{
    margin:0px; 
    padding:0px;
    border: 1px #999 solid;
    color:#000;
    cursor: pointer;
    background:#fff url('../images/login/down_arrow.gif') no-repeat right; 
}
.box
{
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 89%;
    outline: none;
    vertical-align:middle;
}
.bm
{
    border: 1px #999 solid ;
    width:450px;
    margin:0px;
    font-weight:bold;
    position: absolute;
    background-color:White;
}
.rowdiv
{
    padding-left:10px;
    font-size:12px;
}
.first
{
    text-decoration:none;
    color:Black;
    font-weight:lighter;
}
.choose
{
    background-color:#CAE1FF;
    display:inline-block;
    height:19px;
    line-height:19px;
    outline: none;
}