<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <script src="../script/weixintools.js"></script>
     <script type="text/javascript">

    </script>
</head>
<body>
    <div data-role="page"  data-theme="a">
        <div data-role="header" data-theme="a">
            <h1>测试</h1>
        </div>

        <div data-role="content" data-theme="a">

        <a href="#" data-role="button" data-icon="remove">aaaa</a>
                <h2>包含缩略图的列表：</h2>
                <ul data-role="listview" data-inset="true">
                  <li data-icon="remove">
                    <a href="#"><img src="/i/chrome.png"></a>
                  </li>
                  <li>
                    <a href="#"><img src="/i/firefox.png"></a>
                  </li>
                </ul>
        </div>
    </div>
</body>
</html>
