<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <script type="text/javascript" src="../script/jquery/jquery-1.8.2.min.js"></script> 
    <script type="text/javascript" src="../script/jquery/jquery.json-2.2.min.js"></script>
    <script type="text/javascript" src="../script/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../script/jquery/jquery-ui-1.8.23.custom.min.js"></script> 
    <script type="text/javascript" src="../script/ztree/jquery.ztree.all-3.4.min.js"></script>
    <script type="text/javascript" src="../script/jquery/jquery.easyui-1.3.3.min.js"></script>
    <script type="text/javascript" src="../script/jquery/locale/easyui-1.3.3-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../script/jquery/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../script/jquery/datagrid-detailview.js"></script>
    <script type="text/javascript" src="../script/jquery/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../script/jquery/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../script/jquery/jquery.kwicks-1.5.1.pack.js"></script> 
    <script type="text/javascript" src="../script/jquery/jquery.linkagesel-min.js"></script>
    <script type="text/javascript" src="../script/jquery/jquery.roll.js"></script>
    <script type="text/javascript" src="../script/underscore/underscore-1.5.0-min.js"></script>
    <script type="text/javascript" src="../script/flash4ajax/ajaxf.js"></script>
    <script type="text/javascript" src="../script/xml2json-v1.1.js"></script>  
    <script type="text/javascript" src="../script/site.js"></script> 
    
    <script type="text/javascript" src="../script/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../script/jquery/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="../script/js/scripts.js"></script>  
    
    <script type="text/javascript">

        function upPicture() {
            alert("上传头像");
        }

        function search() {
            alert("查询");
        }
    
    </script> 
</head>
<body>
    <div style="width:100%">

        <div style="margin-top:30px"><h2>已绑定数据</h2></div>
        <div style="margin-top:20px;margin-left:20px;width:80%;float:left;">
            <div style="float:left;width:30%"><img alt="老人头像" src="../images/oldImag.png" onclick="upPicture();"/></div>
            <div style="float:left;width:60%">老人姓名：<label>XXXXX</label>身份证号：<label>XXXXX</label></div>
            <!--<div style="float:left;width:30%">老人身份证号：<label>XXXXX</label></div>-->  
            <div style="width:10%;float:left;padding-top:30px"><img alt="老人头像" src="../images/search.png" onclick="search();"/></div>
        </div>
       
    </div>
</body>
</html>
