<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> <!-- 不能放大 -->
    <title></title>

    <!-- CSS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' />
    <!--jqm-->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
    <link rel="Stylesheet" href="../css/custom-swatches.css" />
    <link rel="Stylesheet" href="../css/mobiscroll/mobiscroll.custom-2.5.2.min.css" />

    <script type="text/javascript" src="../script/jquery/jquery-1.8.2.min.js"></script> 
    <script type="text/javascript" src="../script/jquery/jquery.json-2.2.min.js"></script>

    <!--jqm-->
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <script src="../script/jquery/mobiscroll/mobiscroll.custom-2.5.2.min.js"></script>

    <script src="../script/underscore/underscore-1.5.0-min.js"></script>
    <script src="../script/weixintools.js"></script>

    <script type="text/javascript" src="../script/site.js"></script>
    <script type="text/javascript" src="../script/globalVar.js"></script>
    <script type="text/javascript">

        function governmentServiceItems() {
            textProgress('b', '获取政府服务项目...');
            getTo(baseUrl + '/Api/GovernmentService/', null, function (ret) {
                closeProgress();
                //alert($.toJSON(ret));
                if (ret.Success) {
                    var rows = _.map(ret.rows, function (o) {
                        return o;
                    });
                    var listview = "";
                    for (var i = 0; i < rows.length; i++) {
                        listview += "<li>" + rows[i].ItemName + "</li>"
                    }
                    $("#listView").html(listview);
                    $('#listView').listview('refresh');
                }
            });
        }

        function oldManService() {
            textProgress('b', '获取老人大类服务项目...');
            getTo(baseUrl + '/Api/OldManService/', null, function (ret) {
                closeProgress();
                if (ret.Success) {
                    var rows = _.map(ret.rows, function (o) {
                        return o;
                    });
                    var listview = "";
                    for (var i = 0; i < rows.length; i++) {
                        listview += "<li onclick=\"getItem(" + rows[i].ItemCode + ");\"><a href=\"#PageServiceItems\">" + rows[i].ItemName + "</a></li>"
                    }
                    $("#listView").html(listview);
                    $('#listView').listview('refresh');
                }
            });
        }

        function getItem(ItemCode) {

            var params = new Object();
            params.ItemCode = pad(ItemCode, 2);
            var json = JSON.stringify(params);

            textProgress('b', '获取老人小类服务项目...');
            getTo(baseUrl + '/Api/OldManService/getOldManServiceItems', { params: json }, function (ret) {
                closeProgress();
                if (ret.Success) {
                    var rows = _.map(ret.rows, function (o) {
                        return o;
                    });
                    var listview = "";
                    for (var i = 0; i < rows.length; i++) {
                        listview += "<li>" + rows[i].ItemName + "</li>"
                    }
                    $("#listViewItems").html(listview);
                    $('#listViewItems').listview('refresh');
                }

            });

        }

        $(function () {
            var Request = new Object();
            Request = GetRequest();
            var typename = Request['type'];

            title = "";
            if (typename == "Government") {
                title = "政府服务项目查询";
                governmentServiceItems();
            }
            if (typename == "OldMan") {
                title = "老人服务项目查询";
                oldManService();
            }

            $("#title").html(title);
        })


    </script>
</head>
<body>
    <div data-role="page">
        <div data-role="header" data-theme="f">
            <h1><span id="title"></span></h1>
        </div>
        
        <div data-role="content" data-theme="c">
            <ul id="listView" data-role="listview">
            </ul>
        </div>
    </div> 


    <div data-role="page" id="PageServiceItems">
        <div data-role="header" data-theme="f">
            <h1>老人服务项目查询</h1>
        </div>
        
        <div data-role="content" data-theme="c">
            <ul id="listViewItems" data-role="listview">
           
            </ul>
        </div>
    </div> 
</body>
</html>
