<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<providers resource="providers.config"/>

	<context id="SmartLife.CertManage.ManageServices" default="true">
		 
        <database>
          <provider  name="sqlServer2005" />
          <!--<dataSource name="SmartLife.Officer.WeiXin_120300" connectionString="Data Source=.;Initial Catalog=SmartLife-Officer-120300;User ID=SmartOfficer120300;Password=SmartOfficer120300@2013;Connect Timeout=600"/>-->
          <dataSource name="SmartLife.WeiXin_12" connectionString="Data Source=115.236.175.109,10016;Initial Catalog=WeiXin-12;User ID=WeiXin12;Password=WeiXin12@2013"/>
        </database>
        <daoSessionHandler id="SqlMap">
          <property name="embedded" value="SmartLife.Share.WeiXin.config,SmartLife.Share.Models" />
        </daoSessionHandler>
      
	</context>
	
</daoConfig>