<style type="text/css">
.bottom_table td{ line-height:33px; text-align:center;  border-width: 1px; border-color: #C0C0C0;  border-bottom-style: solid; border-right-style: solid;}
.bottom_table td label{text-align:center; vertical-align:middle;}
.top_td{border:0; text-align:left; font-size:16px;}
table input{ border:0; margin-left:5px;}
</style>
<div id="supervise-workorder-form" title="督办" style="padding: 3px;">
    <form id="fm-supervise-workorder" method="post" novalidate>
    <div class="fitem" style=" border-bottom-style:solid; border-bottom-color:#ddd; border-bottom-width:1px;">
       <table style=" width:100%;">
       <tr><td colspan="3" id="serveStationName" style=" text-align:center; border:0; font-size:25px; line-height:40px; "></td></tr>
       <tr><td class="top_td"><label>工单编号：</label><input name="WorkOrderNo" style=" width:200px;" /></td><td  class="top_td"><label>坐席：</label><input name="OperatedByName" /></td><td  class="top_td"><label>工单状态：</label><input name="DoStatus" /></td></tr>
       </table>
    </div>
    <div class="fitem" style=" overflow:auto; height:310px;">
       <table class="bottom_table" style=" border-width: 1px; border-color: #C0C0C0; width:97%; border-top-style: solid; border-left-style: solid;">
        <tr><td>工单内容</td><td colspan="5"><input name="WorkOrderContent" style=" width:600px;"/></td></tr>
        <tr><td>工单归属</td><td colspan="3"><input name="" /></td><td>服务类别</td><td><input name="ServeTypeName" /></td></tr>
        <tr><td>服务大类</td><td><input name="ServeItemAName" /></td><td>服务小类</td><td><input name="ServeItemBName" /></td><td>服务方式</td><td><input name="ServeModeName" /></td></tr>
        <tr><td>要求上门时间</td><td><input name="ServiceTimeRequired" /></td><td>要求备注</td><td colspan="3"><input name="RemarkRequired" /></td></tr>
        <tr><td  style=" width:110px;">服务费用（元）</td><td><input name="ServeFee" /></td><td>政府承担（元）</td><td><input name="ServeFeeByGov" /></td><td>自费（元）</td><td><input name="ServeFeeBySelf" /></td></tr>
        <tr><td>其他收费项</td><td colspan="3" ><input name="OtherCharges" style=" width:350px;"/></td><td>其他收费（元）</td><td><input name="OtherChargesFee" /></td></tr>
        <tr><td>呼入时间</td><td><input name="CheckInTime" /></td><td>督办时间</td><td><input name="SuperviseTime" /></td><td>督办人员</td><td ><input name="SupervisedByName" /></td></tr>
        <tr><td>老人姓名</td><td><input name="OldManName" /></td><td>老人性别</td><td><input name="Gender" /></td><td>老人座机</td><td><input name="Tel" /></td></tr>
        <tr><td>老人手机</td><td><input name="Mobile" /></td><td>家庭地址</td><td colspan="3"><input name="Address" /></td></tr>
        <tr><td rowspan="2">服务人员</td><td rowspan="2"><input name="ServeManName" /></td><td style=" width:100px;">预约上门时间</td><td><input id="ReserveStartTime" /></td><td style=" width:100px;">服务时长</td><td><input id="ServeCountTime"/></td></tr>
        <tr><td>开始服务</td><td><input name="ServeManArriveTime" /></td><td>服务结束</td><td><input name="ServeManLeaveTime" /></td></tr>
        <!--<tr><td>老人签字</td><td colspan="2"><input name="" /></td><td>服务人员签字</td><td colspan="2"><input name="" /></td></tr>
        <tr><td>服务结果</td><td colspan="5"><label><input type="radio" name="ServeResult" value='00001'  checked="checked" />正常结束</label><label><input type="radio" name="ServeResult" value='00002' />未服务</label><label><input type="radio" name="ServeResult" value='00003' />中途离开</label><label><input type="radio" name="ServeResult" value='00004' />其他</label></td></tr>
        <tr><td>结果备注</td><td colspan="5"><input name="ServeResultRemark" style=" width:600px;"/></td></tr>
        <tr><td>评价老人</td><td colspan="5"><label><input type="radio" name="FeedbackToOldMan"  value='00001'  checked="checked" />满意</label><label><input type="radio" name="FeedbackToOldMan"  value='00002'/>较满意</label><label><input type="radio" name="FeedbackToOldMan"  value='00003'/>一般</label><label><input type="radio" name="FeedbackToOldMan"  value='00004'/>较不满意</label><label><input type="radio" name="FeedbackToOldMan"  value='00005'/>不满意</label></td></tr>
        <tr><td>评价备注</td><td colspan="5"><input name="FeedbackRemarkToOldMan" style=" width:600px;"/></td></tr>-->
        </table>
    </div>
    </form>
</div>
<script type="text/javascript">

    var url =baseMerchantInvokeUrl +  '/Oca/WorkOrderV2Service/';
    var workOrderId;
    function dialogOpen(dialogId, dialogData) {
        workOrderId = dialogData.WorkOrderId;
        //        alert($.toJSON(dialogData));
        getTo(url + 'GetWorkOrderInfo/' + workOrderId, null, function (ret) {
            if (ret.Success) {
                var result = xml2json.parser(ret.ret, 'StringObjectDictionary');
                $('#fm-supervise-workorder').form('clear');
                $('#fm-supervise-workorder').form('load', result);
                $('input[name="Gender"]').val(gender(result.Gender));
                $('#serveStationName').text( result.ServeStationName);
                $("input[name='DoStatus']").val(doStatus(result.DoStatus));
                getCountTime(result.ServeManArriveTime, result.ServeManLeaveTime);
                getReserveStartTime(result.ReserveFrom, result.ServiceTimeRequired);
            }
        }, { async: false }, { ApplicationId: gApplicationId, StationId:  dialogData.StationId });
    }

    function gender(g) {
        if (g == "M" || g == "F") {
            return g == "M" ? "男" : "女";
        }
        else {
            return "未知";
        }
    }

    function getReserveStartTime(reserveFrom, serviceTimeRequired) {
        var reserveStartTime;
        if (isnull(reserveFrom, '') != '') {
            reserveStartTime = reserveFrom.replace(/-/gm, '/');
        }
        else if (isnull(serviceTimeRequired, '') != '') {
            reserveStartTime = serviceTimeRequired;
        }
        else {
            reserveStartTime = '未要求上门时间';
        }
        $('#ReserveStartTime').val(reserveStartTime);
    }


    function getCountTime(arrive, leave) {
        var countTime;
        if (isnull(arrive, '') != '' && isnull(leave, '') != '') {
            var ss = DateDiff('s', new Date(arrive), new Date(leave));
            var h = parseInt(ss / 3600);
            var m = Math.ceil(ss % 3600 / 60);
            if (m == 60) {
                h = h + 1;
                m = 0;
            }
            if (h > 0) {
                countTime = h + '时' + m + '分';
            }
            else {
                countTime = m + '分';
            }
        }
        else if (isnull(arrive, '') != '' && isnull(leave, '') == '') {
            countTime = '服务中';
        }
        else {
            countTime = '未开始';
        }
        $('#ServeCountTime').val(countTime);
    }

    function doStatus(ds) {
        var ret;
        switch (ds) {
            case 0: ret = "未响应";
                break;
            case 1: ret = "已响应";
                break;
            case 2: ret = "已响应";
                break;
            case 3: ret = "已完成";
                break;
            case 4: ret = "已回访";
                break;
        }
        return ret;
    }

    function dialogBeforeSubmit() {

        return true;
    }

    function closeDialogFrom() {
        $('#supervise-workorder-form').dialog('close');
    }
    function dialogClose(dialogId) {
        return true;
    }


</script>
