<div id="welcome" style="background:url('../../images/client/gov/welcomeBG.png') repeat;">
    <table style="width: 99%; height: 99%; " align="center">
        <tr>
            <td>
            </td>
        </tr>
        <tr style="height: 126px;">
            <td >
                <div style="width:200px;margin:0 auto;margin-bottom:15px; font-family:黑体;font-size:32px;height:40px; line-height:40px; text-align:center;color:White;">欢迎使用</div>
                <div style="width:400px; height:71px;margin:0 auto;background:url('../../images/client/gov/systemName.png') no-repeat; text-indent:280px; font-size:20px;color:White;line-height:71px;">决策支持版</div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        
        //alert($('#welcome').height());
        autosize("welcome");
    });
</script>
