<div id="search-sample-CallBackSeatClient" title="查询" style="overflow:auto;padding:3px;">
    <form id="fm-search-rough-CallBackSeatClient" method="post" >
        <table width="100%">
            <tr>
                <td style=" text-align:right">关键字：</td>
                <td style=" text-align:left"><input name="KeyWord" class="easyui-validatebox" /></td>
                <td style=" text-align:right">呼入时间：</td>
                <td style=" text-align:left"><input name="CheckInTime_Start" class="Wdate"  onFocus="WdatePicker()" /></td>
                <td style=" text-align:right">服务状态：</td>
                <td style=" text-align:left"><input id="CC-DoStatus" name="DoStatus_Start" class="combobox" /></td>
                <td style=" width:90px;"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok"  onclick="exec(true)">查询</a></td>
                <td style=" width:90px;"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" onclick="resetfm(true)">清空</a></td>
                <td style=" width:90px;"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"  onclick="query()">高级查询</a></td>
            </tr>
        </table>
    </form>
</div>
<div id="toolbar-CallBackSeatClient">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-tip" plain="true"
        onclick="view()">查看</a>
</div>
<table id="dg-CallBackSeatClient" >
</table>
<div id="dlg-YY" class="easyui-dialog" style="width: 170px; height: 300px; padding: 10px;"
 closed="true" cache="false" >
    <ul id="YY-Content">
    </ul>
</div> 
<div id="dlg-search-CallBackSeatClient" class="easyui-dialog" style="width: 520px; height: 200px; padding: 10px;"
 closed="true" cache="false" buttons="#btn-search-CallBackSeatClient"  >
    <div class="ftitle"></div>
    <form id="fm-search-CallBackSeatClient" method="post" novalidate>
    <div class="fitem">
        <label>
            呼叫服务内容:</label>
        <input name="Content"  >
        <label>
            主&nbsp;&nbsp;叫&nbsp;&nbsp;&nbsp;号&nbsp;&nbsp;码:</label>
        <input name="Caller" >
    </div>
    <div class="fitem">
        <label>
            接收分机编号:</label>
        <input name="ServiceExtNo" >
        <label>
            起始呼入时间:</label>
        <input name="CheckInTime_Start" class="Wdate"  onFocus="WdatePicker()">
    </div>
    </form>
</div>
<div id="btn-search-CallBackSeatClient">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="exec()"> 查询</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" onclick="resetfm()">清空</a>
</div>
<script type="text/javascript">
    $(function () {
        validateUI();

        var evaluatLevel;
        var tag = 'CallBackSeatClient';
        models[currentMenuCode] = {
            gridId: 'dg-' + tag,
            toolbarId: 'toolbar-' + tag,
            dlgSearchId: 'dlg-search-' + tag,
            fmSearchId: 'fm-search-' + tag,
            fmSearchRoughId: 'fm-search-rough-' + tag,
            btnSearchId: 'btn-search-' + tag,
            pk: 'CallServiceId',
            changeFormDataBeforeSubmit: function (formData) {
                formData["AreaId"] = models[currentMenuCode].defaultModel.AreaId;
            },
            changeSearchFormDataBeforeSubmit: function (formData) {
                //KeyWord模糊查询专用
                formData['Content'] = formData['KeyWord'];
                formData['Caller'] = formData['KeyWord'];
                formData['ServiceExtNo'] = formData['KeyWord'];
                formData['KeyWord'] = undefined;
            },
            uiMode: 'list',
            entityName: '呼叫服务',
            baseModelUrl: baseCMSInvokeUrl + '/Oca/ServiceCallBackService/',
            defaultModel: { AreaId: (top.objectId == '*' ? '00000' : top.appDeployArea.id), Status: 1 }
            //defaultModelWhenAdd: { Birthday: (new Date()).pattern("yyyy-MM-dd") }
        };

        getTo(top.ajaxData_InvokeUrl + '/GetDictionaryItem/11017', null, function (result) {
            evaluatLevel = result;
        }, { async: false });

        autosize_current(models[currentMenuCode].gridId, -34);
        $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
            title: "",
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            url: models[currentMenuCode].baseModelUrl + 'ListForEasyUIgridByPage2',
            method: 'POST',
            toolbar: '#' + models[currentMenuCode].toolbarId,
            queryParams: {
                sort: 'a.CheckInTime',
                order: 'desc',
                filterFields: [
                    { key: 'Status', value: models[currentMenuCode].defaultModel.Status },
                    { key: 'AreaId', value: models[currentMenuCode].defaultModel.AreaId },
                    { key: 'DoStatus_Start', value: '0' }
                ]
            },
            onDblClickRow: function (idx, row) {
                view(row);
            },
            onLoadSuccess: function (data) {

                $('.iconYY').linkbutton({ text: '', plain: true });
                _.each(data.rows, function (obj) {
                    var yyBtn = $('.iconYY[CallServiceId="' + obj.CallServiceId + '"]');
                    getTo(baseCMSInvokeUrl + '/Oca/CallService/GetServiceVoice/' + obj.CallServiceId, null, function (ret) {
                        if (ret.rows.length > 0) {
                            yyBtn.linkbutton({ text: '录音', plain: true, iconCls: 'icon-loud' }).unbind('click').bind('click', function () {
                                $('#YY-Content').html(_.map(ret.rows, function (o, i) {
                                    var seqName = i + 1;
                                    var urlOutter = '#';
                                    var nameOutter = '';
                                    if (o.VoiceType == 0) {
                                        urlOutter = replaceWithKeys(top.strTemplateOfVoiceType0, o);
                                        nameOutter = '服务录音' + seqName + '(外网)';
                                    }
                                    else if (o.VoiceType == 1) {
                                        urlOutter = replaceWithKeys(top.strTemplateOfVoiceType1, o);
                                        nameOutter = '多方通话录音' + seqName + '(外网)';
                                    }
                                    else {
                                        urlOutter = replaceWithKeys(top.strTemplateOfVoiceType2, o);
                                        nameOutter = '录音' + seqName + '(外网)';
                                    }
                                    var urlInner = '#';
                                    var nameInner = '';
                                    if (o.VoiceType == 0) {
                                        urlInner = replaceWithKeys(top.strTemplateOfVoiceType0ForInner, o);
                                        nameInner = '服务录音' + seqName + '(内网)';
                                    }
                                    else if (o.VoiceType == 1) {
                                        urlInner = replaceWithKeys(top.strTemplateOfVoiceType1ForInner, o);
                                        nameInner = '多方通话录音' + seqName + '(内网)';
                                    }
                                    else {
                                        urlInner = replaceWithKeys(top.strTemplateOfVoiceType2ForInner, o);
                                        nameInner = '录音' + seqName + '(内网)';
                                    }
                                    return '<li><a class="iconYYD" href="' + urlOutter + '" target="_blank">' + nameOutter + '</a><a class="iconYYD" href="' + urlInner + '" target="_blank">' + nameInner + '</a></li>';
                                }).join(""));

                                $("#dlg-YY").dialog({
                                    onClose: function () {
                                    },
                                    onBeforeOpen: function () {
                                        $('.iconYYD').linkbutton({ plain: true, iconCls: 'icon-loud' });
                                    },
                                    modal: true
                                }).dialog('open').dialog('setTitle', '查看服务录音');
                            });
                        }
                        else {
                            yyBtn.remove();
                        }
                    });
                });
            },
            pageSize: 17,
            pageList: [17],
            columns: [[
                { field: 'CallServiceId', title: '呼叫服务编号', width: 150, hidden: true },
                { field: 'Content', title: '呼叫服务内容', width: 260 },
                { field: 'Caller', title: '主叫号码', width: 90, align: 'right' },
                { field: 'Callee', title: '被叫号码', width: 70, align: 'right' },
                { field: 'CheckInTime', title: '呼入时间', width: 130, align: 'center', formatter: easyuigrid_dateFormatter, datefmt: "yyyy-MM-dd HH:mm:ss" },
                { field: 'OperatedOn', title: '回访时间', width: 130, align: 'center', formatter: easyuigrid_dateFormatter, datefmt: "yyyy-MM-dd HH:mm:ss" },
            //{ field: 'CallSeconds', title: '通话时长', width: 100, align: 'center', formatter: easyuigrid_TimeSpanFormatter },
                {field: 'DoStatus', title: '回访状态', width: 80, align: 'center', formatter: easyuigrid_bool2Formatter, vals: '待回访:0~t已回访:1' },
                { field: 'OldManId', title: '老人编号', width: 100, hidden: true },
                { field: 'EvaluatedLevel', title: '回访评价', width: 80, align: 'center', formatter: easyuigrid_ajaxFormatter, vals: evaluatLevel, textField: "ItemName", valueField: "ItemId" },
                { field: 'OperatedBy', title: '服务工号', width: 80, align: 'center', formatter: easyuigrid_ajaxFormatter2, url: function (row) {
                    var ret = "";
                    if (row.OperatedBy) {
                        var url = baseCMSInvokeUrl + '/Pub/UserService/' + row.OperatedBy;

                        getTo(url, null, function (result) {
                            ret = result.instance;
                        }, { async: false });
                    }
                    return ret;
                }, textField: "UserCode", valueField: "UserId"
                },
                { field: 'ServiceExtNo', title: '接收分机编号', width: 80, align: 'center' },
                { field: 'YY', title: '语音', width: 80, align: 'center', formatter: easyuigrid_linkFormatter, fn: function (row) {
                    return '<a href="javascript:void(0)" class="iconYY" CallServiceId="' + row.CallServiceId + '"></a>';
                }
                }
        ]],
            loader: easyuiLoaderForStringObjectDictionary
        })).datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });

        $('#CC-DoStatus').combobox({
            width: 140,
            panelHeight: 45,
            data: [{ ItemId: '0', ItemName: '待回访' },
                   { ItemId: '1', ItemName: '已完成'}],
            valueField: 'ItemId',
            textField: 'ItemName',
            value: '0'
        });

    });

    function view(row) {
        if (!row) {
            row = $('#' + models[currentMenuCode].gridId).datagrid('getSelected');
        }
        if (row) {
            var success = recordLog(row.CallServiceId, 0, '#######################回访开始#######################');
            if (success) {
                OpenCallServiceInfoWinForSeat(row.CallServiceId);
            }
        }
        else {
            alertInfo('请选中要查看的服务记录！');
        }
    }

    function autosize_current(id, offset) {
        if (!offset) {
            offset = 0;
        }
        var iHeight = $("#" + id).parent().parent().parent().height();
        if (top.execMode == "ForSeat") {
            iHeight = $("#" + id).parent().parent().height();
        }
        $("#" + id).height(iHeight + offset);
    }
</script>
