#scroll-block{ background:#000;}
#head-c1{font-size:50px; color:#fff; text-align:center; background:#000;} 
#CurrentMerchant-c{position:absolute; left:40px; color:#ffffff; }
#head-c1 #CurrentMerchantName{font-size:50px;}
#stat-time{font-size:30px; position:absolute; right:5px; bottom:5px; }
#head-c2{color:#fff; background:#000; position:relative;}
#head-c3{color:#fff; background:#000;}
#stat-all a{font-size:20px; color:Red; margin: 0 5px;}
#all-c{padding: 0px; background:#000;} 
.row-color-red{ color:Red;}
.row-color-orange{ color:Orange;}
.row-color-blue{ color:Blue;}
.row-color-yellow{ color:Yellow;}
.row-color-green{ color:Green;}
.scroll-head{width:96%;margin:0 auto;}
.scroll-head span{ font-size:30px; font-weight:bold;color:#fff;}
#all-c .field-oldmanname{width:15%; text-align:center; float:left;display:block; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
#all-c .field-servicecontent{width:15%; text-align:center; float:left;display:block; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
#all-c .field-areaname2{width:15%; text-align:center; float:left;display:block; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
#all-c .field-areaname3{width:15%; text-align:center; float:left;display:block; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
#all-c .field-servemanarrivetime{width:15%; text-align:center;float:left;display:block; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
#all-c .field-servemanleavetime{width:15%; text-align:center;float:left;display:block; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
#all-c .field-feedbacktoservicestation{width:10%; text-align:center;float:left;display:block; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis} 
 
ul,li{list-style:none; margin:0; padding:0;}
.scroll{ width:96%;overflow:hidden; margin:0 auto;}
.scroll li{ width:100%; height:50px; line-height:50px; overflow:hidden;}
.scroll li a{ font-size:25px;color:#333; text-decoration:none;}
.scroll li a:hover{text-decoration:none;}
.scroll li a span{font-size:25px;}
 