<table style=" height:330px; padding:5px;">
    <tr>
        <td valign="top">
            <div id="toolbar-serviceman" > 
            
                <table width="100%">
                    <tr>
                        <td style="text-align:right;width: 40px;">
                            姓名：
                        </td>
                        <td style="text-align:left">
                            <input id="ServiceManName" class="easyui-validatebox"   style=" width:100px;" /> 
                        </td>
                        <td  >
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"
                                onclick="execEx()">查询</a><a href="javascript:void(0)" class="easyui-linkbutton"
                                    iconcls="icon-reload" plain="true" onclick="resetfmEx()">清空</a> 
                        </td> 
                    </tr>
                </table >
            </div>
        <table id="dg-serviceman">
        </table>
        </td>
        <td style="width: 420px; " valign="top">
            <div style="line-height: 30px; width:419px; text-align: center; border-left: solid 1px #ddd;
                border-top: solid 1px #ddd; border-right: solid 1px #ddd; background-color: #fafafa;">
                正在服务的老人
            </div> 
            <div style=" width:420px; height:297px; overflow:auto; border-top: solid 1px #ddd;border-right: solid 1px #ddd; border-bottom: solid 1px #ddd;">
            <ul id="inside-oldman"></ul>
            </div>
        </td>
    </tr>
</table> 
<div class="easyui-panel" title="设置工作项"  style="border: 1px solid #888; width:768px; height:125px; ">
<input id="StationId" type="hidden"/>
<input id="OldManId" type="hidden"/>
    <input id="dateNow" type="hidden" />
<table style=" margin:auto auto auto auto;">
    <tr style=" height:40px;">
        <td><label> 工作项目：</label><input id="WorkItem" style=" width:100px"/> </td>
        <td><label> 用时(分)：</label><input id="Workload" style=" width:60px" onkeyup="value=value.replace(/[^\d]/g,'')"/> </td>
        <td><label> 注意事项：</label><input id="Remark" style=" width:100px"/> </td>
        <td> <label> 提醒标识：</label><input id="RemindFlag" style=" width:50px"/> </td>
        <td><label> 提醒次数：</label><input id="RemindRepeats" style=" width:50px" onkeyup="value=value.replace(/[^\d]/g,'')"/> </td>
    </tr>
    <tr style=" height:40px;">
        <td><label> 计划周期：</label><input id="PlanPeriod"  style=" width:100px"/> </td>
        <td><label> 计划时间：</label><input id="PlanSchedule"class="easyui-timespinner" style=" width:60px; " /> </td>
        <td><label> 服务开始：</label><input id="ServerBeginTime"  class="Wdate" style=" width:100px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'dateNow\')}'})"/> </td>
        <td><label> 重复次数：</label><input id="PlayRepeats" style=" width:50px" /> </td>
        <td><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" 
            plain="true"  style=" margin-right:5px;" 
        onclick="savePlan()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" 
            plain="true"  style=" margin-right:5px;" 
        onclick="resetPlan()">重置</a> </td>
    </tr>
</table> 
</div>
<script type="text/javascript">
    function dialogOpen(dialogId, dialogData) { 
        $('#StationId').val(dialogData.StationId);
        $('#OldManId').val(dialogData.OldManId);  
        var currentMenuCode = '';
        models[currentMenuCode] = { 
            gridId: 'dg-serviceman',
            toolbarId: 'toolbar-serviceman',
            baseModelUrl: baseCMSInvokeUrl + '/Pam/ServeManService/',
            defaultModel: { AreaId: (top.objectId == '*' ? '00000' : top.appDeployArea.id), UserType: "00004" ,GroupId: window.contants.GuidAsGroup_PensionAgencyServeMan, Status: 1, StationId: dialogData.StationId }
        };
         
        $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
            title: "",
            width: 335,
            height: 330,
            rownumbers: true,
            singleSelect: true,
            url: models[currentMenuCode].baseModelUrl + 'ServiceManListForEasyUIgridByStationId',
            method: 'POST',
            toolbar: '#' + models[currentMenuCode].toolbarId,
            queryParams: {
                page: 1,
                rows: 100,
                fuzzyFieldOP: ' or ',
                sort: 'UserName',
                order: 'asc',
                filterFields: [ 
                            { key: 'Area1', value: models[currentMenuCode].defaultModel.AreaId },
                            { key: 'Status', value: models[currentMenuCode].defaultModel.Status },
                            { key: 'UserType', value: models[currentMenuCode].defaultModel.UserType },
                            { key: 'GroupId', value: models[currentMenuCode].defaultModel.GroupId },
                            { key: 'StationId', value: models[currentMenuCode].defaultModel.StationId },
                            { key: 'OldManId', value: $('#OldManId').val() },
                            { key: 'StopFlag', value: 0 },
                            { key: 'Selected', value: 1 }
                            ] 
            },
            onSelect: function (index, row) {
                getWorkPlanForServiceMan(row.UserId);
            },
            columns: [[
                    { field: 'UserId', title: '服务人员编号', width: 150, hidden: true },
        { field: 'UserName', title: '名称', width: 150, align: 'center' },
                    { field: 'Gender', title: '性别', width: 40, align: 'center', formatter: easyuigrid_genderFormatter },
        { field: 'CallNo', title: '呼叫器号码', width: 110, align: 'center' }
        ]],
            loader: easyuiLoaderForStringObjectDictionary
        })); 
        resetPlan();
    }

    //获得服务人员正在服务的所有老人
    function getWorkPlanForServiceMan(userId) { 
        var queryParams = {
            page: 1,
            rows: 100,
            sort: 'wp.OldManId',
            order: 'asc', 
            filterFields: [{ key: 'Status', value: 1 },
                           { key: 'UserId', value: userId}]
        };
        postTo(baseCMSInvokeUrl + '/Pam/WorkPlanService/ListForEasyUIgridByPage', $.toJSON(queryParams), function (ret) {
            if (ret.rows.length > 0) {
                var rows = _.map(ret.rows, function (o) {
                    return xml2json.parser(o, 'StringObjectDictionary');
                });
                var manId;
                var findMans = [];
                _.each(rows, function (o) {
                    if (manId != o.OldManId) {
                        manId = o.OldManId;
                        findMans.push(o.OldManId);
                    }
                }); 
                var countOldManId = $('#OldManId').val(); 
                if (_.contains(findMans, countOldManId)) {
                    var index = findMans.indexOf(countOldManId);
                    findMans.splice(index, index + 1);
                    findMans.unshift(countOldManId);
                } 

                var str = '';
                _.each(findMans, function (id) {
                    var i = 1;
                    _.each(rows, function (o) {
                        if (id == o.OldManId) {
                            if (i == 1) {
                                str += '<ul style="margin-left:5px; margin-top:5px;"><label style=" font-weight:bolder;">姓名：</label>' + o.OldManName + '<label style=" font-weight:bolder;">&nbsp;&nbsp;&nbsp;&nbsp;性别：</label>' + getGender(o.GenderP);
                            }
                            str += '<li  style="margin-left:10px; margin-top:5px;"> <label style=" font-weight:lighter">服务项目：</label> ' + o.WorkItemName + '；<label style=" font-weight:lighter">&nbsp;&nbsp;&nbsp;&nbsp;服务用时： </label>' + o.WorkloadName + '</li>'; 
                            str += '<li  style="margin-left:10px; margin-top:5px;"> <label style=" font-weight:lighter">计划时间：</label> ' + o.PlanSchedule + '；<label style=" font-weight:lighter">&nbsp;&nbsp;&nbsp;&nbsp; 注意事项：</label> ' + o.RemarkWP + '</li>'; 
                            str += '<li  style="margin-left:10px; margin-top:5px;"> &nbsp;&nbsp;&nbsp;&nbsp; </li>';
                            i++;
                        }
                    });
                    str = str + '</ul>';
                });

                $('#inside-oldman').html(str);
            }
        }, { async: false });
    } 

    function savePlan() {
        var oldManId = $('#OldManId').val(); 
        var row = $('#dg-serviceman').datagrid('getSelected');
        var workload = $('#Workload').val();
        if (isPass(oldManId, workload, row) == "true") {
            var param = {
                PlanId: window.contants.guidAutoGenerate,
                UserId: row.UserId,
                OldManId: oldManId,
                Workload: workload,
                WorkItem: $('#WorkItem').combobox('getValue'),
                RemindFlag: $('#RemindFlag').combobox('getValue'), 
                PlanPeriod: $('#PlanPeriod').combobox('getValue'),
                PlanSchedule: $('#PlanSchedule').val(),
                PlayRepeats: $('#PlayRepeats').combobox('getValue'), 
                Remark: $('#Remark').val()
            };
            var serverBeginTime = $('#ServerBeginTime').val();
            if (serverBeginTime && serverBeginTime != '') {
                serverBeginTime = (serverBeginTime + ' 00:00:00').replace(/-/g, '/');
                param["ServerBeginTime"] = toJsonDate(serverBeginTime);
            }
            var remindFlag = $('#RemindFlag').combobox('getValue');
            if (remindFlag == '1') { param["RemindRepeats"] = $('#RemindRepeats').val(); }
            alertConfirm('确定保存这项工作计划吗？', function (r) {
                if (r) {
                    postTo(baseCMSInvokeUrl + '/Pam/WorkPlanService/', $.toJSON(param), function (ret) {
                        if (ret.Success) {
                            alert("保存成功");
                            //                        resetPlan();
                        }
                    });
                }
            });
        }
        else {
            alert(isPass(oldManId, workload, row));
        }
    }

    function resetPlan() {
        $('#Workload').val(null);
        $('#RemindRepeats').val(3);
        $('#Remark').val(null); 
        var d = new Date();
        $('#dateNow').val(d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate());
        $('#ServerBeginTime').val(null);
        getAll([ajaxData_InvokeUrl + '/GetDictionaryItem/13001',
        ajaxData_InvokeUrl + '/GetDictionaryItem/13002'], function (workItem_d, planPeriod_d) {
            var v1 = workItem_d.length > 0 ? workItem_d[0].ItemId : '';
            var v2 = planPeriod_d.length > 0 ? planPeriod_d[0].ItemId : '';
            setCombobox("WorkItem", workItem_d, 102, 100, v1);
            setCombobox("PlanPeriod", planPeriod_d, 102, 82, v2); 
            var d = new Date();
            $('#PlanSchedule').timespinner('setValue', d.getHours() + ':00');
        });
        setCombobox("PlayRepeats", [{ ItemId: "1", ItemName: "1" }, { ItemId: "2", ItemName: "2" }, { ItemId: "3", ItemName: "3"}], 52, 62, 2);
        $('#RemindFlag').combobox({
            width: 52,
            panelHeight: 42,
            onSelect: function (record) {
                if (record.ItemId == '0') {
                    $('#RemindRepeats').attr('disabled', 'disabled');
                    $('#PlayRepeats').combobox({ disabled: true });
                }
                else if (record.ItemId == '1') {
                    $('#RemindRepeats').removeAttr('disabled', 'disabled');
                    $('#RemindRepeats').val(3);
                    $('#PlayRepeats').combobox({ disabled: false });
                }
            },
            method: 'get',
            data: [{ ItemId: "0", ItemName: "否" }, { ItemId: "1", ItemName: "是"}],
            valueField: 'ItemId',
            textField: 'ItemName',
            editable: false,
            value: 1
        });
    }

    function isPass(oldManId, workload, row) { 
        var result = 'flase';
        if (oldManId && oldManId != '') {
            if (row && row.UserId) {
                if (workload && workload != '') {
                    result = 'true';
                }
                else {
                    result = '服务用时为空，请填写服务用时';
                }
            }
            else {
                result = '服务人员为空，请选择';
            }
        }
        else {
            result = '老人为空，请重新选择';
        }
        return result;
    }
    function setCombobox(controlsId, data, w, h, v) {
        $('#' + controlsId + '').combobox({
            width: w,
            panelHeight: h,
            method: 'get',
            data: data,
            valueField: 'ItemId',
            textField: 'ItemName',
            editable: false,
            value: v
        });
    }

    function execEx() {
        var serviceManName = $('#ServiceManName').val();
        $('#dg-serviceman').datagrid('reload', {
            page: 1,
            rows: 100,
            fuzzyFieldOP: ' or ',
            sort: 'UserName',
            order: 'asc',
            filterFields: [
                            { key: 'Area1', value: (top.objectId == '*' ? '00000' : top.appDeployArea.id) },
                            { key: 'Status', value: 1 },
                            { key: 'UserType', value: '00004' },
                            { key: 'GroupId', value: window.contants.GuidAsGroup_PensionAgencyServeMan },
                            { key: 'StationId', value: $('#StationId').val() },
                            { key: 'OldManId', value: $('#OldManId').val() },
                            { key: 'StopFlag', value: 0 },
                            { key: 'Selected', value: 1 }
                            ],
            fuzzyFields: [
                            { key: 'UserCode', value: serviceManName },
                            { key: 'UserName', value: serviceManName },
                            { key: 'InputCode1', value: serviceManName },
                            { key: 'InputCode2', value: serviceManName }
                            ]
        });

    }
    function resetfmEx() {
        $('#ServiceManName').val(null);
    }

    function getGender(g) {
        var result = '';
        if (g == 'M') {
            result = '男';
        }
        else
            if (g == 'F') {
                result = '女';
            }
            else {
                result = '未知';
            }
        return result;
    }
     
    function dialogBeforeSubmit() {
        return true;
    }
    function closeDialogFrom() {
        $('#set-plan-oldman').dialog('close');
    }
    function dialogClose() {
        return true;
    }
</script>
