<div id="search-sample-B13070601" title="查询" style="overflow: auto; padding: 3px;">
    <form id="fm-search-rough-B13070601" method="post">
    <table width="100%">
        <tr>
            <td style="text-align: left">
                关键字：<input name="KeyWord" id="KeyWord" class="easyui-validatebox" />
            </td>
            <td style="width: 90px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="exec(true)">
                    查询</a>
            </td>
            <td style="width: 90px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" onclick="execEx()">
                    清空</a>
            </td>
            <td style="width: 90px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
                    onclick="query()">高级查询</a>
            </td>
        </tr>
    </table>
    </form>
</div>
<div id="toolbar-B13070601">
<div id="CurrentAgencys-c" style="display: inline-block;"><input id="CurrentAgencys" /></div>            
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
        onclick="add()">新增</a> <a href="javascript:void(0)" class="easyui-linkbutton"
            iconcls="icon-edit" plain="true" onclick="edit()">编辑</a> <a href="javascript:void(0)"
                class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="nullify()">
                作废</a> 
</div>
<table id="dg-B13070601" >
</table>
<div id="dlg-B13070601" class="easyui-dialog" style="width: 360px; height: 400px; padding: 10px;"
 closed="true" cache="false" buttons="#btn-B13070601"  > 
    <form id="fm-B13070601" method="post" novalidate>
    <input type="hidden" name="SetMealId" id="setMealId-B13070601" />
    <div class="fitem">
        <label>
            套餐名称:</label>
        <input name="SetMealName" id="SetMealName" class="easyui-validatebox" required="true" missingMessage="套餐名称不能为空" style=" width:250px;"> 
    </div>
    <div class="fitem">
        <label>
            套餐内容:</label>
        <textarea name="SetMealContent" class="easyui-validatebox"  style=" width:250px; height:250px;"></textarea>
    </div> 
    </form>
</div>
<div id="btn-B13070601">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">
        确定</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
            onclick="cancel()">取消</a>
</div> 
<div id="dlg-search-B13070601" class="easyui-dialog" style="width: 270px; height: 180px;
    padding: 10px;" closed="true" cache="false" buttons="#btn-search-B13070601">
    <form id="fm-search-B13070601" method="post" style=" margin-left:10px;" novalidate>
    <div class="fitem">
        <label>
            套餐名称:</label>
        <input name="SetMealName">
    </div>
    <div class="fitem">
        <label>
            套餐内容:</label>
        <input name="SetMealContent">
    </div>
    </form>
</div>
<div id="btn-search-B13070601">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="exec()">
        查询</a> <a href="javascript:void(0)" class="easyui-linkbutton" onclick="resetfm()">清空</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="quit()">关闭</a>
</div>
<script type="text/javascript">
    if (window.execMode == 'ForPam') {
        currentMenuCode = queryParams.currentMenuCode;
    }
    var orgData;
    var isAgencys = false;
    if (isAgencys) {
        orgData = top.gUserInfo.MappingAgencys;
    }
    else {
        orgData = [{ "StationCode": "4612030003001110",
            "StationId": "6203DD5C-C480-436F-8CA3-1672055EA5C7",
            "StationName": "浙江蓝谷养老日照中心演示",
            "StationType": "00006",
            "StationType2": "00006"
        }];
    }
    $(function () {
        //加载机构
        $('#CurrentAgencys').combobox({
            width: 180,
            panelWidth: 300,
            data: orgData,
            valueField: 'StationId',
            textField: 'StationName',
            editable: true,
            onLoadSuccess: function () {
                if (orgData.length > 0) {
                    $('#CurrentAgencys').combobox('setValue', orgData[0].StationId);
                    if (orgData.length == 1) {
                        $('#CurrentAgencys-c').hide();
                    }
                }
                else {
                    alertInfo('当前帐号没有绑定任何机构');
                    $('#toolbar-Schedule').hide();
                }
            },
            onSelect: function (record) {
                loading();
            }
        });
        loading();
    });

    function loading() {
        stationId = $('#CurrentAgencys').combobox('getValue');
        //        alert(StationId);
        models[currentMenuCode] = {
            gridId: 'dg-' + currentMenuCode,
            toolbarId: 'toolbar-' + currentMenuCode,
            dialogId: 'dlg-' + currentMenuCode,
            formId: 'fm-' + currentMenuCode,
            dlgSearchId: 'dlg-search-' + currentMenuCode,
            fmSearchId: 'fm-search-' + currentMenuCode,
            fmSearchRoughId: 'fm-search-rough-' + currentMenuCode,
            btnSearchId: 'btn-search-' + currentMenuCode,
            buttonId: 'btn-' + currentMenuCode,
            pkId: 'setMealId-' + currentMenuCode,
            pk: 'SetMealId',
            getPKValueWhenAdd: function () {
                return window.contants.guidAutoGenerate;
            },
            changeFormDataBeforeSubmit: function (formData) {
                formData["StationId"] = stationId;
            },
            changeSearchFormDataBeforeSubmit: function (formData) {
                //KeyWord模糊查询专用
                formData['SetMealName'] = formData['KeyWord'];
                formData['SetMealContent'] = formData['KeyWord']; 
                formData['KeyWord'] = undefined;
            },  
            uiMode: 'list',
            entityName: '套餐管理',
            baseModelUrl: baseCMSInvokeUrl + '/Pam/SetMealService/',
            defaultModel: { Status: 1, StationId: stationId }
        };

        autosize(models[currentMenuCode].gridId, -35);

        $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
            title: "",
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            url: models[currentMenuCode].baseModelUrl + '/ListForEasyUIgridPage',
            method: 'POST',
            toolbar: '#' + models[currentMenuCode].toolbarId,
            queryParams: {
                sort: 'OperatedOn',
                order: 'desc',
                filterFields: [ 
                            { key: 'Status', value: models[currentMenuCode].defaultModel.Status },
                            { key: 'StationId', value: models[currentMenuCode].defaultModel.StationId }
                            ]
            },
            onDblClickRow: function (idx, row) {
                edit(row);
            },
            columns: [[
        { field: 'SetMealId', title: '管理员编号', width: 150, hidden: true },
        { field: 'CK', title: '', checkbox: true },
        { field: 'SetMealName', title: '套餐名称', width: 150, sortable: true },
        { field: 'SetMealContent', title: '套餐内容', width: 800 } 
    ]],
            loader: easyuiLoader
        })).datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });
    } 

    function execEx() {
        $('#KeyWord').val(null);
    }
</script>
