<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SmartLife.Client.Gov.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SmartLife.Client.Gov.Properties.Settings>
            <setting name="MessageBoxTitle" serializeAs="String">
                <value>消息对话框</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value>浙江蓝谷</value>
            </setting>
            <setting name="Company_Phone" serializeAs="String">
                <value>0571-88976666</value>
            </setting>
            <setting name="Company_Site" serializeAs="String">
                <value>www.leblue.com.cn</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value>zppro</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>政府监管平台</value>
            </setting>
            <setting name="ProductVersionComment" serializeAs="String">
                <value>决策支持版</value>
            </setting>
        </SmartLife.Client.Gov.Properties.Settings>
    </userSettings>
</configuration>
