<!--<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" style="height: 36px;">
        <div id="selectedArea" style="font-weight: bold; color: blue;"></div>
        <div id="selectToArea" style="font-weight: bold; color: red;"></div>
    </div>
    <div id="c-tree-set-user-area" data-options="region:'center',border:false"></div>
</div>-->
<div style=" width:100%; height:100%">
    <!--左面区域(显示街道简介)-->
    <div style=" width:30%; height:100%; display:block; overflow:scroll; background-color:Red">
      上塘街道地处杭州市中心区域，于2006年5月撤镇建街，面积9.5平方公里，辖10个社区，11个股份经济合作社。常住人口3.6万人，外来人口6万余人。区域内水陆交通便捷，区位优势明显，美丽的上塘河与千年京杭大运河交汇融通，上塘路、沈半路、石祥路等市区主干道纵横交错，上塘高架纵贯全域，南可跨钱塘江，直达杭州国际机场，北可上绕城高速，联通上海、南京。

    上塘已经形成以工业为基础、三产为主体的经济发展格局。浙江天马控股集团已成为全国轴承行业的龙头企业之一，在2007年成功上市。辖区内还有海外海宾馆、通讯商务大厦、明珠大厦等多家星级宾馆以及城北钢材市场、运河钢材市场、浙江钱江小商品市场、杭州汽车城、杭州通信器材市场、杭州灯具市场等十余家大型专业市场。优越的地理位置，兴旺的人气商气，还引得世界商业巨头纷至沓来，世界五百强企业法国欧尚超市、百安居建材超市又相继开业。以石祥路、沈半路为轴线的汽车特色街区，已有70余家汽车相关企业入驻，在全市汽车销售中“三分天下有其二”，成为杭州乃至浙江汽车消费的核心区、汽车品牌的集中地、汽车文化的引领者。2011年，全街完成财政总收入9.8亿元，地方财政收入4.26亿元；工业销售产值27.65亿元；限额以上固定资产投资20.43亿元；服务业增加值32.14亿元；社会消费品零售总额75.68亿元；村级可分配收入4.18亿元；招商引资实际到位市外资金20.05亿元，实际到位外资2083万美元。

    在经济蓬勃发展的同时，上塘文化事业也欣欣向荣。浙江大学城市学院、浙江树人大学等十多所大中专院校集聚域内，形成了浓厚的人文气息。浙江诗人之家、浙江文学创作基地、浙江诗人作品陈列馆的落户更提高了上塘的文化品位。

    近年来，上塘先后被评为全国乡镇之星、浙江省社会经济综合实力百强乡镇第二名、杭州市区第一名、浙江省社会经济最发达100名乡镇第四名、浙江省教育强镇、杭州市社会经济综合实力十强乡镇。面向未来，上塘将坚定实施“打造杭州商贸走廊，建设浙江市场名街”的发展战略，一个经济繁荣、文化浓郁、人民富裕的都市上塘正日益向世人展示出她独具的魅力。
    </div>
    <!--右面区域-->
    <div style="width:70%; height:100%; display:block; background-color:Blue">
        <!--街道相关统计信息-->
        <div>
            设备数:1000
        </div>
        <!--下属社区列表-->
        <div>
        
        </div>
    </div>
</div>
<script type="text/javascript">
    function dialogOpen(dialogId, dialogData) {

 
    }

    function dialogBeforeSubmit() {
        return true;
    }


    function dialogClose(dialogId) {
     
    }


</script>