<div id="toolbar-B11040701">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
        onclick="add()">新增</a> <a href="javascript:void(0)" class="easyui-linkbutton"
            iconcls="icon-edit" plain="true" onclick="edit()">编辑</a> <a href="javascript:void(0)"
                class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="remove()">
                删除</a>
</div>
<table id="dg-B11040701" >
</table>
<div id="dlg-B11040701" class="easyui-dialog" style="width: 480px; height: 280px; padding: 10px;" closed="true" cache="false" buttons="#btn-B11040701"  >
    <div class="ftitle"></div>
    <form id="fm-B11040701" method="post" novalidate>
    
    <div class="fitem">
        <label>
             　公众号:</label> 
        <input   name="AccountCode" id="accountcode-B11040701" class="easyui-validatebox" required="true" missingMessage="公众号编号不能为空" />
        <label>
            公众号名:</label>
        <input name="Name" class="easyui-validatebox" required="true" missingMessage="公众号名称不能为空">
    </div>
    <div class="fitem">
        <label>
            部署地址:</label>
        <input name="Url" class="easyui-validatebox"  style="width:360px;">
    </div> 
    <div class="fitem">
        <label>
            用户令牌:</label>
        <input name="Token" class="easyui-validatebox" >
        <label>
            用户凭证:</label>
        <input name="AppId" class="easyui-validatebox" >
        
    </div> 
    <div class="fitem">
        <label>
            凭证密钥:</label>
        <input name="AppSecret" class="easyui-validatebox" style="width:360px;">
    </div>
    <div class="fitem">
        <label>
            地图接口:</label>
        <input id="MapAPI" name="MapAPI" class="easyui-validatebox" >
        <label>
            原始编号:</label>
        <input name="RawId" class="easyui-validatebox" >
    </div> 
    </form>
</div>
<div id="btn-B11040701">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">
        确定</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
            onclick="cancel()">取消</a>
</div> 
<script type="text/javascript">

    $(function () {
        models[currentMenuCode] = {
            gridId: 'dg-' + currentMenuCode,
            toolbarId: 'toolbar-' + currentMenuCode,
            dialogId: 'dlg-' + currentMenuCode,
            formId: 'fm-' + currentMenuCode,
            buttonId: 'btn-' + currentMenuCode,
            pkId: 'accountcode-' + currentMenuCode,
            pk: 'AccountCode',
            getPKValueWhenAdd: function () {
                return "";
            },
            uiMode: 'list',
            disabled: ['edit'],
            entityName: '公众号',
            baseModelUrl: baseCMSInvokeUrl + '/WeiXin/Meb/ServiceAccountService/',
            defaultModel: { Status: 1 }
        };
        autosize(models[currentMenuCode].gridId);

        //取字典11016和11017
        getAll([top.ajaxData_InvokeUrl + '/GetDictionaryItem/00023'], function (mapAPIs) {
            $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
                title: "",
                pagination: true,
                rownumbers: true,
                singleSelect: false,
                url: models[currentMenuCode].baseModelUrl + 'ListForEasyUIgrid',
                method: 'POST',
                toolbar: '#' + models[currentMenuCode].toolbarId,
                queryParams: {
                    sort: 'AccountCode',
                    order: 'asc',
                    instance: {
                        Status: models[currentMenuCode].defaultModel.Status
                    }
                },
                onDblClickRow: function (idx, row) {
                    edit(row);
                },
                columns: [[
        { field: 'CK', title: '', checkbox: true },
        { field: 'AccountCode', title: '公众号编号', width: 150 },
        { field: 'Name', title: '公众号名称', width: 150 },
        { field: 'Url', title: '部署地址', width: 300 },
        { field: 'Token', title: '用户令牌', width: 150 },
        { field: 'AppId', title: '用户凭证', width: 150 },
        { field: 'AppSecret', title: '凭证密钥', width: 240 },
        { field: 'MapAPI', title: '地图接口', width: 100, align: 'center', formatter: easyuigrid_ajaxFormatter, vals: mapAPIs },
        { field: 'AccessToken', title: '全局票据', width: 600 },
        { field: 'RawId', title: '原始ID', width: 120 }
    ]],
                loader: easyuiLoader
            })).datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });

            $('#MapAPI').combobox({
                width: 152,  
                data: mapAPIs,
                valueField: 'ItemId',
                textField: 'ItemName',
                editable: false
            });
        });

        



    }); 
    
</script>
