<table id="cc-B12040502" style="width: 100%; height: 100%;">
    <tr>
        <td style="width: 200px;" valign="top">
            <div style="line-height: 30px; width: 100%; text-align: center; border-left: solid 1px #ddd;
                border-top: solid 1px #ddd;  border-right: solid 1px #ddd;background-color: #fafafa;">
                所属街道社区
            </div>
        <div id="div_tree" style="border: solid 1px #ddd; width: 100%; float: left; overflow: auto;">
            <ul id="tree-B12040502">
            </ul>
                        <input type="hidden"  id="_AreaId2" />
                        <input type="hidden"  id="_AreaId3" />
        </div>
        </td>
        <td valign="top">
            <div id="search-sample-B12040502" title="查询" style="overflow: auto; padding: 3px;">
                <form id="fm-search-rough-B12040502" method="post">
                <table width="100%">
                    <tr>
                        <td style="text-align: right">
                            关键字：
                        </td>
                        <td style="text-align: left">
                            <input name="KeyWord" class="easyui-validatebox"   placeholder="编码、名称、负责人、电话"/>
                        </td>
                        <td style="text-align: right">
                            审核状态：
                        </td>
                        <td style="text-align: left">
                            <input id="CC-FlowTo" name="FlowTo_Start" class="combobox" />
                        </td>
                        <td style="width: 90px;">
                            <a href="javascript:void(0)" name="query_btn" class="easyui-linkbutton" iconcls="icon-ok"
                                onclick="exec(true)">查询</a>
                        </td>
                        <td style="width: 90px;">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" onclick="resetfm(true)">
                                清空</a>
                        </td>
                        <td style="width: 90px;">
                            <a behaviorcode="10" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add"
                                plain="true" onclick="query()">高级查询</a>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
            <div id="toolbar-B12040502">
                <a href="javascript:void(0)"  id="openApprovalDialog" class="easyui-linkbutton" iconcls="icon-edit" plain="true"
                    onclick="openApprovalDialog()">审核</a> 
                        <a href="javascript:void(0)"  id="unOpenApprovalDialog" class="easyui-linkbutton"
                        iconcls="icon-undo" plain="true" onclick="openApprovalDialog()">撤销审核</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton"
                        iconcls="icon-redo" plain="true" onclick="rowsAudit(true)" id="edit_pass" operation="bulk">
                        批量审核通过</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo"
                            plain="true" onclick="rowsAudit()" id="edit_unpass" operation="bulk">批量审核不通过</a>
            </div>
            <table id="dg-B12040502">
            </table>
        </td>
    </tr>
</table>
<div id="dlg-search-B12040502" class="easyui-dialog" style="width: 500px; height: 230px;
    padding: 10px;" closed="true" cache="false" buttons="#btn-search-B12040502"> 
    <form id="fm-search-B12040502" method="post" novalidate>
    <div class="fitem">
                <label>
                    机构编码:</label>
                <input name="StationCode" />
        <label>
            机构名称:</label>
        <input name="StationName" />
    </div>   
            <div class="fitem">
                <label>
                    联 系 人 :</label>
                <input name="LinkMan" />
                <label>
                    联系号码:</label>
                <input name="LinkManMobile" />
            </div>
            <div class="fitem">
                <label>
                    服务热线:</label>
                <input name="Hotline" maxlength="30" />
                <label>
                    座　　机:</label>
                <input name="Tel" />
            </div>
    <div class="fitem">
                <label>
                    传　　真:</label>
                <input name="Fax" />
                <label>
                    电子邮件:</label>
                <input name="Email" />
    </div>
    </form>
</div>
<div id="btn-search-B12040502">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="exec()">
        查询</a> <a href="javascript:void(0)" class="easyui-linkbutton" onclick="resetfm()">清空</a>
    <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="quit()">关闭</a>-->
</div>
<script type="text/javascript">
    var flowName; //流转名称
    var flowSetp; //流转名称中取出需要几步审核

    placeholder(); //占位符初始化
    var areas;

    $(function () {
        loadfiles([
            { type: "js", url: "../../script/old-care/aid.js"}], function () {
            });

        models[currentMenuCode] = {
            treeId: 'tree-' + currentMenuCode,
            gridId: 'dg-' + currentMenuCode,
            toolbarId: 'toolbar-' + currentMenuCode,
            dialogId: 'dlg-' + currentMenuCode,
            dialogUploadId: 'dlg-upload-' + currentMenuCode,
            dlgSearchId: 'dlg-search-' + currentMenuCode,
            fmSearchId: 'fm-search-' + currentMenuCode,
            btnSearchId: 'btn-search-' + currentMenuCode,
            fmSearchRoughId: 'fm-search-rough-' + currentMenuCode,
            formId: 'fm-' + currentMenuCode,
            buttonId: 'btn-' + currentMenuCode,
            pkId: 'stationId-' + currentMenuCode,
            pk: 'StationId',
            getPKValueWhenAdd: function () {
                return window.contants.guidAutoGenerate;
            },
            changeFormDataBeforeSubmit: function (formData) {
                formData["AreaId"] = models[currentMenuCode].defaultModel.AreaId;
            },
            changeSearchFormDataBeforeSubmit: function (formData) {
                //KeyWord模糊查询专用
                formData['StationName'] = formData['KeyWord'];
                formData['StationCode'] = formData['KeyWord'];
                formData['LinkMan'] = formData['KeyWord'];
                formData['Hotline'] = formData['KeyWord'];
                formData['LinkManMobile'] = formData['KeyWord'];
                formData['InputCode1'] = formData['KeyWord'];
                formData['InputCode2'] = formData['KeyWord'];
                formData['KeyWord'] = undefined;
            },
            headers: { ConnectId: baseInfoNode },
            uiMode: 'list',
            entityName: '审核结果',
            baseModelUrl: baseCMSInvokeUrl + '/Pub/ServiceStationService/',
            defaultModel: { AreaId: (top.objectId == '*' ? '00000' : top.appDeployArea.id), Status: 2, StationType: '00003', MappingType: 'Merchant' }
        };

        validateUI();
        autosize("cc-" + currentMenuCode, -32);
        autosize("div_tree", -34);

        getTo(ajaxData_InvokeUrl + '/GetArea', null, function (result) {
            areas = result;
        }, { async: false });

        //autosize(models[currentMenuCode].gridId, -65);


        //创建树
        initTree('easyUITree', models[currentMenuCode].treeId, {
            onClick: function (treeNode) {
                var areaId;
                var treeNodeId = treeNode.id; //当前节点的层次
                if (treeNodeId.length > 6) {
                    var sub_id = treeNodeId.substring(14, 18);
                    if (sub_id == '0000') {
                        areaId = left(treeNodeId, 13); //选择的是街道节点
                        $("#_AreaId2").val(treeNodeId);
                        $("#_AreaId3").val(null);
                    }
                    else {
                        areaId = left(treeNodeId, 18); //选择的是社区节点
                        getFlowStep(treeNodeId); //取流转名称
                        $("#_AreaId2").val(null);
                        $("#_AreaId3").val(treeNodeId);
                    }
                }
                else {
                    areaId = ""; //选择的是区级节点
                    $("#_AreaId2").val(null);
                    $("#_AreaId3").val(null);
                };
                $('#' + models[currentMenuCode].gridId).datagrid('load', {
                    sort: 'OperatedOn',
                    order: 'desc',
                    filterFields: [
                            { key: 'Status', value: models[currentMenuCode].defaultModel.Status },
                            { key: 'AreaId', value: models[currentMenuCode].defaultModel.AreaId },
                            { key: 'StationType', value: models[currentMenuCode].defaultModel.StationType },
                            { key: 'MappingType', value: models[currentMenuCode].defaultModel.MappingType },
                            { key: 'FlowTo_Start', value: $("#CC-FlowTo").combobox("getValue") }
                    ],
                    fuzzyFields: [{ key: 'AreaId', value: areaId}]
                });
            },
            onLoadSuccess: function () {
                var node = $('#' + models[currentMenuCode].treeId).tree('getRoot');
                $('#' + models[currentMenuCode].treeId).tree("collapseAll");
                $('#' + models[currentMenuCode].treeId).tree('expand', node.target);
                loadDataGrid(''); //加载DataGrid
            }
        },
        function (d) {
            var res;
            postTo(baseCMSInvokeUrl + "/Bas/ResidentBaseInfoService/isSuperAdmin/" + top.window.gUserId, null, function (result) {
                res = result;
            }, { async: false })
            if (res) {
                getTreeData('01$01$02', "OrderNo asc", '{"DictionaryId":"00005" , "ItemId":"' + (top.objectId == '*' ? '00000' : top.appDeployArea.id) + '"}', d);
            } else {
                getTreeData('01$02$01', "OrderNo asc", '{"DictionaryId":"00005" , "ItemId":"' + (top.objectId == '*' ? '00000' : top.appDeployArea.id) + '" , "UserId":"' + top.window.gUserId + '"}', d);
            }
        },
        null,
        function (treeObj) {
        }); //end loadTree
         

        $('#CC-FlowTo').combobox({
            width: 140,
            panelHeight: 40,
            data: [{ ItemId: '20', ItemName: '待审核' },
                   { ItemId: '020', ItemName: '已审核'}],
            valueField: 'ItemId',
            textField: 'ItemName',
            editable: false,
            value: 20
        });
    });

    //取流转名称
    function getFlowStep(_areaId3) {
        getTo(baseCMSInvokeUrl + '/Pub/FlowDefineMappingService/Query?parms=' + $.toJSON({ "MappingType": models[currentMenuCode].defaultModel.MappingType, "MappingId": _areaId3, "MappingColumn": "AreaId3" }), null, function (result) {
            if (result.Success) {
                if (result.rows.length > 0) {
                    flowName = result.rows[0].FlowName; //流转名称 
                }
                else {
                    flowName = "StationId_Merchant_1"; //流转名称 (查不到，默认一步审核)
                }
                flowSetp = flowName.substring(flowName.length - 1); //流转名称中取出需要几步审核（最后一位是1、2、3） 
            }
        }, { async: false }, { ConnectId: baseInfoNode });
    }

    function loadDataGrid(areaId)  {
        $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
            title: "",
            fit: true,
            pagination: true,
            rownumbers: true,
            singleSelect: false,
            url: models[currentMenuCode].baseModelUrl + 'FlowListForEasyUIgrid/' + models[currentMenuCode].headers.ConnectId,
            method: 'POST',
            toolbar: '#' + models[currentMenuCode].toolbarId,
            queryParams: {
                sort: 'OperatedOn',
                order: 'desc',
                filterFields: [
                        { key: 'Status', value: models[currentMenuCode].defaultModel.Status },
                        { key: 'AreaId', value: models[currentMenuCode].defaultModel.AreaId },
                        { key: 'StationType', value: models[currentMenuCode].defaultModel.StationType },
                        { key: 'MappingType', value: models[currentMenuCode].defaultModel.MappingType },
                        { key: 'FlowTo_Start', value: 20 }
                ],
                fuzzyFields: [{ key: 'AreaId', value: areaId}]
            },
            onDblClickRow: function (idx, row) {
                openApprovalDialog(row);
            },
            onLoadSuccess: function () {
                if ($('#CC-FlowTo').combobox('getValue') == "020") {
                    $('#edit_pass').hide();
                    $('#edit_unpass').hide();
                    $('#unOpenApprovalDialog').show();
                    $('#openApprovalDialog').hide();
                }
                else {
                    $('#edit_pass').show();
                    $('#edit_unpass').show();
                    $('#unOpenApprovalDialog').hide();
                    $('#openApprovalDialog').show();
                }
            },
            columns: [[
               { field: 'StationId', title: '机构编号', width: 150, hidden: true },
                        { field: 'CK', title: '', checkbox: true },
                        { field: 'ActionName', title: '审核状态', width: 70, align: 'center' },
                        { field: 'StationCode', title: '商家编码', width: 80, align: 'center' },
                        { field: 'StationName', title: '商家名称', width: 120, align: 'center' },
                        { field: 'StationType', title: '机构类型', width: 150, align: 'center', formatter: easyuigrid_ajaxFormatter, url: function () {
                            var url = window.ajaxData_InvokeUrl + '/GetDictionaryItem/01002';
                            var results = null;
                            getTo(url, null, function (result) {
                                results = result;
                            }, { async: false });
                            return results;
                        }
                        },
                        { field: 'Hotline', title: '服务热线', width: 100 },
                        { field: 'Tel', title: '座机', width: 100 },
                        { field: 'Fax', title: '传真', width: 100 },
                        { field: 'LinkMan', title: '联系人', width: 60 },
                        { field: 'LinkManMobile', title: '联系人手机', width: 100 },
                        { field: 'AreaId2', title: '街道', width: 150, formatter: easyuigrid_ajaxFormatter, vals: areas, textField: "AreaName", valueField: "AreaId", caseSensitive: false },
                        { field: 'AreaId3', title: '社区', width: 150, formatter: easyuigrid_ajaxFormatter, vals: areas, textField: "AreaName", valueField: "AreaId", caseSensitive: false },
                        { field: 'Address', title: '地址', width: 200 }
            ]],
            loader: easyuiLoaderForStringObjectDictionary
        })).datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });
    }


    //批量审核
    function rowsAudit(isNext) {
        var treeNode = $('#' + models[currentMenuCode].treeId).tree('getSelected');
        if (treeNode && treeNode.id.length > 6) {
            var treeNodeId = treeNode.id;   //当前节点的层次 
            var sub_id = treeNodeId.substring(14, 18);
            if (sub_id != '0000') {//选择的是社区节点
                var bizids;
                var message;
                var processAction;
                var mappingId = treeNode.id;
                //判断是审核通过还是不通过
                if (!isNext) {
                    processAction = 2;
                    message = '不通过';
                }
                else {
                    processAction = 1;
                    message = '通过';
                }

                var selectedRows = $('#' + models[currentMenuCode].gridId).datagrid('getSelections'); //取选中的多个记录
                if (selectedRows && selectedRows.length > 0) {//把多个主键拼接 
                    bizids = _.map(selectedRows, function (o) {
                        return o.StationId;
                    }).join("|");
                    alertConfirm("确定要批量审核“" + message + "”选择项吗？", function (r) {
                        if (r) {
                            execFlowAction(bizids, mappingId, 20, processAction);
                        }
                    });
                }
                else {
                    bizids = '';
                    alertConfirm("批量审核“" + message + "”所有项吗？", function (r) {
                        if (r) {
                            execFlowAction(bizids, mappingId, 20, processAction);
                        }
                    });
                }
            }
            else {
                alert("批量审核时，必须以社区为单位，请选择一个社区！");
            }
        }
        else {
            alert("批量审核时，必须以社区为单位，请选择一个社区！");
        }
    }

    function execFlowAction(bizids, mappingId, processState, processAction) {
        var flowAction = {
            "FlowName": flowName,
            "TableName": 'Pub_ServiceStation',
            "TableColumn": 'StationId',
            "BIZ_IDs": bizids,
            "MappingType": 'Merchant',
            "MappingId": mappingId,
            "MappingColumn": 'AreaId3',
            "ProcessState": processState,
            "ProcessAction": processAction, //处理动作 
            "WhereClause": " a.Status=2 and StationType='" + models[currentMenuCode].defaultModel.StationType + "' "
        }
        postTo(baseCMSInvokeUrl + "/Share/Circulation/NextFlowTo", $.toJSON(flowAction), function (ret) {
            if (ret.Success) {
                alertInfo("操作成功！");
                $('#' + models[currentMenuCode].gridId).datagrid('reload');
                if (ret.ErrorMessage == 'true') {//判断流程是否结束 
                    synBaseInfo(bizids, flowAction);
                }
            }
        }, null, models[currentMenuCode].headers);
    }

    function synBaseInfo(ids, flowAction) {//如果是流程走完，同步业务数据
        var url;
        var param;
        if (ids != '' && ids) {
            url = models[currentMenuCode].baseModelUrl + 'UpdateServiceStations/1,' + ids;
            param = null;
        }
        else {
            url = models[currentMenuCode].baseModelUrl + 'UpdateServiceStationsAll';
            param = $.toJSON(flowAction);
        }
        putTo(url, param, function (ret) {
            if (ret.Success) {
                postTo(models[currentMenuCode].baseModelUrl + "SynBaseInfo", null, function (ret) {

                }, null, models[currentMenuCode].headers);
            }
        }, null, models[currentMenuCode].headers);
    }
     

    function openApprovalDialog(row) {
        if (!row) {
            row = $('#dg-B12040502').datagrid('getSelected');
        }
        if (row) {
            if (row.AreaId3 && row.AreaId3 != '') {
                var flowModels = {
                    dialogId: "dg-flow-process",
                    dialogPage: 'views/shared/approval-process-frame.htm',
                    formId: "fm-B1204050101",
                    formData: row,
                    processLevel: row.FlowTo, //当前流转状态
                    formUrl: "views/cmu-manage/city-seller-base-info-form.htm",
                    headers: models[currentMenuCode].headers,
                    bizid: row.StationId, //主键
                    flowName: flowName,     //流转名称
                    tableName: "Pub_ServiceStation", //表名
                    primaryKey: "StationId", //表的主键
                    mappingType: "Merchant", //映射类型
                    mappingId: row.AreaId3, //映射类型Id
                    mappingColumn: "AreaId3", //映射列名
                    processState: row.FlowTo, //当前流转状态
                    OrderByClause: "CheckInTime desc",
                    title: "审核",
                    beforeFlowDialogClose: function (callback, dialogData) {
                        $('#' + models[currentMenuCode].gridId).datagrid('reload');
                        callback();
                    },
                    actionDone: function (ret) {
                        if (ret == 'true') {//判断流程是否结束 
                            synBaseInfo(row.StationId, null);
                        }
                    }
                };
                //取历史记录
                flowModels.flowData = getCirculationHistory(flowModels);
                //生成按钮 
                var _buttons = createButtons(flowModels);

                openFlowDialog(flowModels, _buttons);
            }
            else {
                alert("未知社区，无法进入审批流程！");
            }
        }
        else {
            alertError('请选中要审核的记录');
        }
    }

    function createButtons(flowModels) {
        var flowAction = {
            "FlowName": flowModels.flowName,
            "TableName": flowModels.tableName,
            "TableColumn": flowModels.primaryKey,
            "BIZ_IDs": flowModels.bizid,
            "MappingType": flowModels.mappingType,
            "MappingId": flowModels.mappingId,
            "ProcessState": flowModels.processState,
            "MappingColumn": flowModels.mappingColumn,
            "WhereClause": " a.Status=2 and StationType='" + models[currentMenuCode].defaultModel.StationType + "' "//当前操作的业务数据的状态
        }
        var latestFlowData = flowModels.flowData[0];
        var _buttons = [];
        if (latestFlowData.FlowTo == 20) {
            _buttons.push({
                text: '审核通过',
                iconCls: 'icon-ok',
                handler: function () {
                    flowAction["ProcessAction"] = 1; //处理动作
                    top.flowAction(flowAction, flowModels.headers, flowModels.actionDone);
                    if (flowModels.beforeFlowDialogClose) {
                        flowModels.beforeFlowDialogClose.apply(this, [function () { top.Closed(flowModels.dialogId) }, top.dialogClose(flowModels.dialogId)]);
                    }
                }
            });
            _buttons.push({
                text: '审核不通过',
                iconCls: 'icon-undo',
                handler: function () {
                    flowAction["ProcessAction"] = 2; //处理动作
                    top.flowAction(flowAction, flowModels.headers, flowModels.actionDone);
                    if (flowModels.beforeFlowDialogClose) {
                        flowModels.beforeFlowDialogClose.apply(this, [function () { top.Closed(flowModels.dialogId) }, top.dialogClose(flowModels.dialogId)]);
                    }
                }
            });
        } else if (latestFlowData.FlowTo == 30) {
            _buttons.push({
                text: '撤销审核',
                iconCls: 'icon-undo',
                handler: function () {
                    flowAction["ProcessAction"] = 0; //处理动作
                    top.flowAction(flowAction, flowModels.headers, flowModels.actionDone);
                    if (flowModels.beforeFlowDialogClose) {
                        flowModels.beforeFlowDialogClose.apply(this, [function () { top.Closed(flowModels.dialogId) }, top.dialogClose(flowModels.dialogId)]);
                    }
                }
            });
        }
        _buttons.push({
            text: '关闭',
            iconCls: 'icon-cancel',
            handler: function () {
                top.Closed(flowModels.dialogId); //直接无法调用要加top
            }
        });
        return _buttons;
    }
   
</script>
