<style type="text/css">
    .baseinfo tr td
    {
        height: 30px;
    }
    input[type="text"]{ width:150px;}
</style>
<table id="cc-B170106" style="width: 100%; height: 100%;">
    <tr>
        <td style="width: 200px;" valign="top">
            <ul id="tree-B170106">
            </ul>
        </td>
        <td valign="top">
            <div id="toolbar-B170106">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search"
                    plain="true" onclick="edit()">查看</a><a href="javascript:void(0)"
                        class="easyui-linkbutton" id='residentId_destroy' iconcls="icon-edit" plain="true" onclick="destroy()">死亡</a>
                </div>  
            <div id="search-sample-B170106" title="查询" style="overflow: auto; padding: 3px;">
                <form id="fm-search-rough-B170106" method="post">
                <table width="100%">
                    <tr>
                        <td style="text-align: right">
                            关键字：
                        </td>
                        <td style="text-align: left">
                            <input id="KeyWord" name="KeyWord" class="easyui-validatebox" placeholder="姓名、身份证、电话、手机"/>
                        </td>
                        <td style="text-align: right">
                            提交状态：
                        </td>
                        <td style="text-align: left">
                            <input id="residentStatus" name="ResidentStatus_Start" class="combobox" />
                        </td>
                        <td style="width: 90px;">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="execEx(true)">
                                查询</a>
                        </td>
                        <td style="width: 90px;">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" onclick="resetfmEx(true)">
                                重置</a>
                        </td>
                        <td style="width: 90px;">
                            <a behaviorcode="10" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add"
                                plain="true" onclick="query()">高级查询</a>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
            <table id="dg-B170106">
            </table>
        </td>
    </tr>
</table>
<div id="dlg-B170106" class="easyui-dialog" style="width: 800px; height: 500px; padding: 10px;"
    closed="true" cache="false" buttons="#btn-B170106">
    <div id="tt" class="easyui-tabs" style="width: 760px; height: 400px;">
        <div title="基本信息">
            <form id="fm-B170106" method="post" novalidate>
            <input type="hidden" name="ResidentId" id="residentId-B170106" />
            <table class="baseinfo">
                <tr>
                    <td width="80" style="text-align: center;">
                        姓 名:
                    </td>
                    <td>
                        <input type="text"  name="ResidentName" class="easyui-validatebox" required="true" missingmessage="姓名不能为空">
                    </td>
                    <td width="80" style="text-align: center; height: 40px;">
                        性 别:
                    </td>
                    <td>
                        <input id="Gender-M" type="radio" name="Gender" value="M" /><label for="Gender-M">男</label>
                        <input id="Gender-F" type="radio" name="Gender" value="F" /><label for="Gender-F">女</label>
                        <label style="margin-left: 75px;">
                        </label>
                    </td>
                    <td rowspan="9">
                        <table>
                            <tr>
                                <td style="text-align: center;">
                                    <input type="image" id="img" alt="请上传本人照片" style="margin-left: 40px; height: 180px;
                                        width: 150px;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="80" style="text-align: center;">
                        身 份 证 :
                    </td>
                    <td>
                        <input type="text"  id="IDNo" name="IDNo" class="easyui-validatebox" required="true" missingmessage="身份证不能为空" />
                    </td>
                    <td width="80" style="text-align: center;">
                        业务身份:
                    </td>
                    <td>
                        <input id="ResidentBizId" name="ResidentBizId" class="easyui-validatebox" />
                    </td>
                </tr>
                <tr>
                    <td width="80" style="text-align: center;">
                        街道社区:
                    </td>
                    <td>
                        <!--<input id="AreaOfStreetAndCommunity" required="true" missingmessage="街道社区不能为空" />-->
                        <input name="AreaIdStreet" id="AreaIdStreet" />
                    </td>
                    <td colspan="2">
                        <input name="AreaIdCommunity" id="AreaIdCommunity" />
                        <input type="hidden" name="AreaId2" id="AreaId2" />
                        <input type="hidden" name="AreaId3" id="AreaId3" />
                    </td>
                </tr>
                <tr>
                    <td width="80" style="text-align: center;">
                        座 机:
                    </td>
                    <td>
                        <input type="text"  name="Tel" />
                    </td>
                    <td width="80" style="text-align: center;">
                        手 机:
                    </td>
                    <td>
                        <input type="text"  name="Mobile" />
                    </td>
                </tr>
                <tr>
                    <td width="80" style="text-align: center;">
                        籍 贯:
                    </td>
                    <td>
                        <input id="NativePlace1" />
                        <input type="hidden" name="NativePlace" id="NativePlace" />
                    </td>
                    <td width="80" style="text-align: center;">
                        户口类型:
                    </td>
                    <td>
                        <input name="AccountType" id="AccountType" />
                    </td>
                </tr>
                <tr>
                    <td width="80" style="text-align: center; height: 40px;">
                        户 籍:
                    </td>
                    <td>
                        <input id="HouseholdRegister1" />
                        <input type="hidden" name="HouseholdRegister" id="HouseholdRegister" />
                    </td>
                    <td width="80" style="text-align: center;">
                        详细地址:
                    </td>
                    <td>
                        <input  type="text" name="PlaceOfHouseholdRegister" id="PlaceOfHouseholdRegister" />
                    </td>
                </tr>
                <tr>
                    <td width="80" style="text-align: center;">
                        现居地址:
                    </td>
                    <td>
                        <input id="ResidentialOfHometown1" />
                        <input type="hidden" name="ResidentialOfHometown" id="ResidentialOfHometown" />
                    </td>
                    <td width="80" style="text-align: center;">
                        详细地址:
                    </td>
                    <td>
                        <input type="text"  name="ResidentialAddress" id="ResidentialAddress" />
                    </td>
                </tr>
                <tr>
                    <td width="100" style="text-align: center;">
                        邮 编:
                    </td>
                    <td>
                        <input type="text"  name="PostCode" maxlength="6" />
                    </td>
                    <td width="100" style="text-align: center;">
                        民 族:
                    </td>
                    <td>
                        <input name="Nation" id="Nation" />
                    </td>
                </tr>
                <tr>
                    <td width="100" style="text-align: center;">
                        文化程度:
                    </td>
                    <td>
                        <input name="EducationLevel" id="EducationLevel" />
                    </td>
                    <td width="100" style="text-align: center;">
                        婚姻状况:
                    </td>
                    <td>
                        <input name="Marriage" id="Marriage" />
                    </td>
                </tr>
                <tr>
                    <td width="100" style="text-align: center;">
                        收入情况:
                    </td>
                    <td>
                        <input name="IncomeStatus" id="IncomeStatus" />
                    </td>
                    <td width="80" style="text-align: center;">
                        住房情况:
                    </td>
                    <td>
                        <input name="HousingStatus" id="HousingStatus" />
                    </td>
                    <td rowspan="2">
                        <table>
                            <tr>
                                <td width="80" style="text-align: center;">
                                    出生日期:
                                </td>
                                <td>
                                    <input type="text"  id="Birthday" name="Birthday" disabled="true">
                                </td>
                            </tr>
                            <tr>
                                <td width="80" style="text-align: center;">
                                    年 龄:
                                </td>
                                <td>
                                    <input  type="text" id="age" name="age" class="easyui-validatebox" disabled="true" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="80" style="text-align: center;">
                        备 注:
                    </td>
                    <td colspan="3">
                        <textarea name="Remark" style="width: 400px;" maxlength="400"></textarea>
                    </td>
                </tr>
            </table>
            </form>
        </div>
        <!--<div title="健康信息" closable="false" style="overflow: auto; padding: 20px;">
            tab2
        </div>-->
    </div>
</div>
<div id="btn-B170106">
    <!--<a href="javascript:void(0)" id="edit_btn" class="easyui-linkbutton" iconcls="icon-ok"
        onclick="onBeforeSave()">确定</a>--> <a href="javascript:void(0)" class="easyui-linkbutton"
            iconcls="icon-cancel" onclick="cancel()">取消</a>
</div>
<div id="dlg-search-B170106" class="easyui-dialog" style="width: 420px; height: 200px;
    padding: 10px;" closed="true" cache="false" buttons="#btn-search-B170106">
    <div class="ftitle">
        <form id="fm-search-B170106" method="post" novalidate>
        <div class="fitem">
            <table class="baseinfo">
                <tr>
                    <td style="text-align: right">
                        姓 名:
                    </td>
                    <td style="text-align: left">
                        <input name="ResidentName" />
                    </td>
                    <td style="text-align: right">
                        性 别:
                    </td>
                    <td style="text-align: left">
                        <input id="CC-Gender" name="Gender_Start" class="combobox" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        身份证:
                    </td>
                    <td style="text-align: left">
                        <input name="IDNo" />
                    </td>
                    <td style="text-align: right">
                        座机:
                    </td>
                    <td style="text-align: left">
                        <input name="Tel" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        手机:
                    </td>
                    <td style="text-align: left">
                        <input name="Mobile" />
                    </td>
                </tr>
            </table>
        </div>
        </form>
    </div>
</div>
<div id="btn-search-B170106">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="execEx()">
        查询</a> <a href="javascript:void(0)" class="easyui-linkbutton" onclick="resetfm()">清空</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="quit()">
        关闭</a>
</div>
<script type="text/javascript">

    placeholder(); //占位符初始化
    var flowFrom; //流程from
    var flowTo; //流程to
    $(function () {
        validateUI();
        loadfiles([
            { type: "js", url: "../../script/old-care/aid.js"}], function () {
            });

        var areas;
        var marriage; //婚姻状况
        var educationLevel; //文化程度
        var livingStatus; //居住环境
        var housingStatus; //住房情况
        var incomeStatus; //收入情况
        var residentBizId; //居民业务身份
        var nation; //民族
        var accountType; //户口类型

        models[currentMenuCode] = {
            treeId: 'tree-' + currentMenuCode,
            gridId: 'dg-' + currentMenuCode,
            toolbarId: 'toolbar-' + currentMenuCode,
            dialogId: 'dlg-' + currentMenuCode,
            dialogUploadId: 'dlg-upload-' + currentMenuCode,
            dlgSearchId: 'dlg-search-' + currentMenuCode,
            fmSearchId: 'fm-search-' + currentMenuCode,
            fmSearchRoughId: 'fm-search-rough-' + currentMenuCode, //查询时读取formData的值
            btnSearchId: 'btn-search-' + currentMenuCode,
            formId: 'fm-' + currentMenuCode,
            buttonId: 'btn-' + currentMenuCode,
            pkId: 'residentId-' + currentMenuCode,
            pk: 'ResidentId',
            getPKValueWhenAdd: function () {
                return window.contants.guidAutoGenerate;
            },
            changeFormDataBeforeSubmit: function (formData) {
                formData["AreaId"] = models[currentMenuCode].defaultModel.AreaId;
            },
            changeSearchFormDataBeforeSubmit: function (formData) {
                //KeyWord模糊查询专用
                //                formData['AreaCode_Start'] = formData['AreaCode'];
                formData['ResidentName'] = formData['KeyWord'];
                formData['IDNo'] = formData['KeyWord'];
                formData['Tel'] = formData['KeyWord'];
                formData['Mobile'] = formData['KeyWord'];
                formData['InputCode1'] = formData['KeyWord'];
                formData['InputCode2'] = formData['KeyWord'];
                formData['KeyWord'] = undefined;
            },
            onBeforeDialogOpen: function () {
                // 输入查询
                SetCombogrid("/GetDictionaryItemByKeyword/00005,", "NativePlace1", "NativePlace");
                SetCombogrid("/GetDictionaryItemByKeyword/00005,", "ResidentialOfHometown1", "ResidentialOfHometown");
                SetCombogrid('/GetAreaVByKeyWord/', 'HouseholdRegister1', 'HouseholdRegister', 'AreaId', 'AreaName');
                //街道
                $('#AreaIdStreet').combobox({
                    width: 152,
                    panelHeight: 80,
                    method: 'get',
                    data: GetStreetAndCommunityInArea(top.appDeployArea.id, "4"), //获取街道数据
                    valueField: 'ItemId',
                    textField: 'ItemName',
                    filter: function (q, row) {
                        var opts = $(this).combobox('options');
                        return row[opts.textField].indexOf(q) == 0;
                    },
                    //姓名选择为空的时候    清除表单中的所以内容
                    onHidePanel: function () {
                        if ($('#AreaIdStreet').combo('getText') == "") {
                            $('#AreaIdCommunity').combobox('setValue', null);
                            $('#AreaId2').val(null);
                            $('#AreaId3').val(null);
                        }
                    },
                    onSelect: function (d) {
                        $('#AreaId2').val(d.ItemId);
                        var community = GetStreetAndCommunityInArea(d.ItemId, "5"); //获取社区数据
                        $('#AreaIdCommunity').combobox('loadData', community); //社区重新加载
                        //如果该街道下有社区，则自动填充
                        if (community.length > 0) {
                            $('#AreaIdCommunity').combobox('setValue', community[0].ItemId);
                            $('#AreaId3').val(community[0].ItemId);
                        }
                        //否则为空
                        else {
                            $('#AreaIdCommunity').combobox('setValue', null);
                            $('#AreaId3').val(null);
                        }
                    }
                });
                //社区
                $('#AreaIdCommunity').combobox({
                    width: 152,
                    panelHeight: 80,
                    method: 'get',
                    data: GetStreetAndCommunityInArea(top.appDeployArea.id, "5"), //获取社区数据
                    valueField: 'ItemId',
                    textField: 'ItemName',
                    filter: function (q, row) {
                        var opts = $(this).combobox('options');
                        return row[opts.textField].indexOf(q) == 0;
                    },
                    //姓名选择为空的时候    清除表单中的所以内容
                    onHidePanel: function () {
                        if ($('#AreaIdCommunity').combo('getText') == "") {
                            $('#AreaId3').val(null);
                        }
                    },
                    onSelect: function (d) {
                        $('#AreaIdStreet').combobox('setValue', d.ParentId); //选择社区之后，显示该社区的街道
                        $('#AreaId2').val(d.ParentId);
                        $('#AreaId3').val(d.ItemId);
                    }
                });
            },
            onAfterDialogOpen: function (row) {
                if (row) {
                    var areaId2 = $('#AreaId2').val();
                    var areaId3 = $('#AreaId3').val();
                    if (areaId2 != "") {
                        $('#AreaIdStreet').combobox('setValue', areaId2);
                    }
                    if (areaId3 != "") {
                        $('#AreaIdCommunity').combobox('setValue', areaId3);
                    }
                    $("#IDNo").attr('readonly', 'readonly');
                    $("#NativePlace1").combogrid("setValue", row.NativePlaceName);

                    $("#HouseholdRegister1").combogrid("setValue", row.HouseholdRegisterName);

                    $("#ResidentialOfHometown1").combogrid("setValue", row.ResidentialOfHometownName);

                    $("#EducationLevel").val(row.EducationLevelName);

                    $("#Marriage").val(row.MarriageName);

                    $("#IncomeStatus").val(row.IncomeStatusName);

                    $("#HousingStatus").val(row.HousingStatusName);

                }
                else {
                    $("#IDNo").removeAttr('readonly');
                }
                getAgeBirthday();
            }, 
            uiMode: 'list',
            entityName: '居民基本资料',
            baseModelUrl: baseCMSInvokeUrl + '/Bas/ResidentBaseInfoService/',
            defaultModel: { AreaId: (top.objectId == '*' ? '00000' : top.appDeployArea.id), Status: 1 },
            defaultModelWhenAdd: { Gender: 'M' }
        };

        autosize("cc-B170106", -30); //datagrid收缩30个像素点

        getTo(ajaxData_InvokeUrl + '/GetArea', null, function (result) {
            areas = result;
        }, { async: false });

        initTree('easyUITree', models[currentMenuCode].treeId, {
            onClick: function (treeNode) {
                var areaId;
                var treeNodeId = treeNode.id; //当前节点的层次
                if (treeNodeId.length > 6) {
                    var sub_id = treeNodeId.substring(14, 18);
                    if (sub_id == '0000') {
                        areaId = left(treeNodeId, 13);
                    }
                    else {
                        areaId = left(treeNodeId, 18);
                    }
                }
                else {
                    areaId = "";
                };

                datagrid_load(areaId);
            },
            onLoadSuccess: function () {
                //左边的树，默认展开一级
                var node = $('#' + models[currentMenuCode].treeId).tree('getRoot');
                $('#' + models[currentMenuCode].treeId).tree("collapseAll");
                $('#' + models[currentMenuCode].treeId).tree('expand', node.target);
            }
        },
            function (d) { 
                if (top.gUserInfo.isSuperAdmin) {
                    getTreeData('01$01$02', "OrderNo asc", '{"DictionaryId":"00005" , "ItemId":"' + (top.objectId == '*' ? '00000' : top.appDeployArea.id) + '"}', d);
                } else {
                    getTreeData('01$02$01', "OrderNo asc", '{"DictionaryId":"00005" , "ItemId":"' + (top.objectId == '*' ? '00000' : top.appDeployArea.id) + '" , "UserId":"' + top.window.gUserId + '"}', d);
                }
            },
            null,
            function (treeObj) {
                $('#' + models[currentMenuCode].gridId).datagrid(easyuigrid_settings({
                    title: "",
                    fit: true,
                    pagination: true,
                    rownumbers: true,
                    singleSelect: true,
                    url: models[currentMenuCode].baseModelUrl + 'ResidentBaseInfo33',
                    method: 'POST',
                    toolbar: '#' + models[currentMenuCode].toolbarId,
                    queryParams: {
                        sort: 'OperatedOn',
                        order: 'desc',
                        filterFields: [
                            { key: 'Status', value: models[currentMenuCode].defaultModel.Status },
                            { key: 'AreaId', value: models[currentMenuCode].defaultModel.AreaId },
                            { key: 'ResidentStatus_Start', value: $('#residentStatus').combobox("getValue") }
                            ]
                    },
                    onLoadSuccess: function () {
                        var residentStatus = $('#residentStatus').combobox("getValue");
                        if (residentStatus == 5) {
                            $('#residentId_destroy').hide();
                        }
                        else {
                            $('#residentId_destroy').show();
                        }
                    },
                    onDblClickRow: function (idx, row) {
                        edit(row);
                    },
                    frozenColumns: [[
                                        { field: 'CK', title: '', checkbox: true },
                    { field: 'ResidentName', title: '姓名', width: 80, align: 'center' },
                    { field: 'IDNo', title: '身份证', width: 150, align: 'center', formatter: easyuigrid_IDNo },
                    { field: 'Gender', title: '性别', width: 50, align: 'center', formatter: easyuigrid_genderFormatter }
                    ]],
                    columns: [[
                    { field: 'ResidentId', title: '居民编号', width: 150, hidden: true },
                    //                    { field: 'FlowFromName', title: '审核状态', width: 70, align: 'center' },
                    {field: 'Age', title: '年龄', width: 60, align: 'center', formatter: easyuigrid_ageFormatter3 },
                    { field: 'ResidentStatus', title: '居民状态', width: 80, align: 'center', formatter: easyuigrid_bool2Formatter, vals: '正常:1~t迁出:3~t死亡:5' },
                    { field: 'NationName', title: '民族', width: 80, align: 'center' },
                    { field: 'Tel', title: '座机', align: 'center', width: 100 },
                    { field: 'Mobile', title: '手机', align: 'center', width: 100 },
                    { field: 'AreaId2', title: '街道', align: 'center', width: 150, formatter: easyuigrid_ajaxFormatter, vals: areas, textField: "AreaName", valueField: "AreaId" },
                    { field: 'AreaId3', title: '社区', align: 'center', width: 150, formatter: easyuigrid_ajaxFormatter, vals: areas, textField: "AreaName", valueField: "AreaId" },
                    { field: 'NativePlaceName', title: '籍贯', align: 'center', width: 150 },
                    { field: 'AccountTypeName', title: '户口类型', width: 80, align: 'center', width: 80 },
                    { field: 'HouseholdRegisterName', title: '户籍', align: 'center', width: 150 },
                    { field: 'PlaceOfHouseholdRegister', title: '户籍(详)', width: 100, align: 'center' },
                    { field: 'ResidentialOfHometownName', title: '现居地', align: 'center', width: 150 },
                    { field: 'ResidentialAddress', title: '现居(详)', width: 100, align: 'center' },
                    { field: 'EducationLevelName', title: '文化程度', align: 'center', width: 80 },
                    { field: 'MarriageName', title: '婚姻状况', align: 'center', width: 60 },
                    { field: 'IncomeStatusName', title: '收入情况', align: 'center', width: 80 },
                    { field: 'HousingStatusName', title: '住房情况', align: 'center', width: 80 },
                    { field: 'PostCode', title: '邮编', width: 80, align: 'center' },
                    { field: 'Remark', title: '备注', align: 'center', width: 250 }
            ]],
                    loader: easyuiLoaderForStringObjectDictionary
                })).datagrid('getPager').pagination({ displayMsg: '显示 第 {from} 到 {to} 共 {total} 条' });

            }); //end loadTree

        $('#residentStatus').combobox({
            width: 140,
            panelHeight: 42,
            data: [{ ItemId: '1', ItemName: '正常' },
                   { ItemId: '5', ItemName: '死亡'}],
            valueField: 'ItemId',
            textField: 'ItemName',
            editable: false,
            value: 1
        });
        $('#CC-Gender').combobox({
            width: 140,
            panelHeight: 63,
            data: [{ ItemId: 'N', ItemName: '全部' },
                   { ItemId: 'M', ItemName: '男' },
                   { ItemId: 'F', ItemName: '女'}],
            valueField: 'ItemId',
            textField: 'ItemName',
            editable: false,
            value: 'N'
        });

        $('#IDNo').bind("change", function () {
            getAgeBirthday();
        });

        getAll([ajaxData_InvokeUrl + '/GetDictionaryItem/01005',
        ajaxData_InvokeUrl + '/GetDictionaryItem/00016',
        ajaxData_InvokeUrl + '/GetDictionaryItem/00017',
        ajaxData_InvokeUrl + '/GetDictionaryItem/00018',
        ajaxData_InvokeUrl + '/GetDictionaryItem/00019',
        ajaxData_InvokeUrl + '/GetDictionaryItem/00020',
        ajaxData_InvokeUrl + '/GetDictionaryItem/00021',
        ajaxData_InvokeUrl + '/GetDictionaryItem/00022'], function (residentBizId_d, accountType_d, educationLevel_d, marriage_d, livingStatus_d, housingStatus_d, incomeStatus_d, nation_d) {
            residentBizId = residentBizId_d;
            accountType = accountType_d;
            educationLevel = educationLevel_d;
            marriage = marriage_d;
            livingStatus = livingStatus_d;
            housingStatus = housingStatus_d;
            incomeStatus = incomeStatus_d;
            nation = nation_d;

            setCombobox("ResidentBizId", residentBizId);
            setCombobox("AccountType", accountType);
            setCombobox("EducationLevel", educationLevel)
            setCombobox("Marriage", marriage);
            setCombobox("IncomeStatus", incomeStatus);
            setCombobox("HousingStatus", housingStatus);
            setCombobox("LivingStatus", livingStatus);
            setCombobox("Nation", nation);
        });

        loadfiles([
            { type: "css", url: "../../css/old-care/base-data.css" },
            { type: "js", url: "../../script/old-care/base-data.js" }
            ], function () {
                $('#residentUpdate').bind('click', function () {
                    uploadBaseData2("居民基本资料", models[currentMenuCode].defaultModel);
                });
            });

    });


    function datagrid_load(areaId) {
        var residentStatus = $('#residentStatus').combobox("getValue");

        var param = {
            sort: 'OperatedOn',
            order: 'desc',
            filterFields: [{ key: 'AreaId', value: models[currentMenuCode].defaultModel.AreaId },
                            { key: 'ResidentStatus_Start', value: residentStatus}],
            fuzzyFields: [{ key: 'AreaId', value: areaId}]
        }

        if (residentStatus == 1) {
            param.filterFields.push({ key: 'Status', value: models[currentMenuCode].defaultModel.Status });
        }
        else {
            param.filterFields.push({ key: 'Status', value: 3 });
        }
        $('#' + models[currentMenuCode].gridId).datagrid('load', param);
    }

    function setCombobox(controlsId, data) {
        $('#' + controlsId + '').combobox({
            width: 152,
            panelHeight: 80,
            method: 'get',
            data: data,
            valueField: 'ItemId',
            textField: 'ItemName',
            editable: false
        });
    }
    //验证身份证号并获取出生日期
    function getAgeBirthday() {
        var tmpStr = "";
        var idDate = "";
        var tmpInt = 0;
        var strReturn = "";
        $("#age").val("");
        $("#Birthday").val("");
        var iIdNo = $("#IDNo").val();
        if (iIdNo != "") {
            if ((iIdNo.length != 15) && (iIdNo.length != 18)) {
                strReturn = "输入的身份证号位数错误";
                alertError(strReturn);
            } else {
                if (iIdNo.length == 15) {
                    tmpStr = iIdNo.substring(6, 12);
                    tmpStr = "19" + tmpStr;
                    tmpStr = tmpStr.substring(0, 4) + "-" + tmpStr.substring(4, 6) + "-" + tmpStr.substring(6);
                }
                else {
                    tmpStr = iIdNo.substring(6, 14);
                    tmpStr = tmpStr.substring(0, 4) + "-" + tmpStr.substring(4, 6) + "-" + tmpStr.substring(6);
                }
                $("#Birthday").val(tmpStr);
                //获取年龄 
                var myDate = new Date();
                var month = myDate.getMonth() + 1;
                var day = myDate.getDate();
                var age = myDate.getFullYear() - iIdNo.substring(6, 10);  //- 1;
                if (iIdNo.substring(10, 12) < month || iIdNo.substring(10, 12) == month && iIdNo.substring(12, 14) <= day) {
                    age++;
                }
                if (age > 0)
                    $("#age").val(age);
                else
                    $("#age").val("");
            }
        }
    }

    function GetItemName(param, value) {
        return _.find(param, function (o) { return o.ItemId == value; }).ItemName;
    }
    function SetCombogrid(url, combogridId, hiddenId, idField, textField) {
        var defIdField = "ItemId";
        if (idField) defIdField = idField;
        var defTextField = "ItemName";
        if (textField) defTextField = textField;

        $('#' + combogridId).combogrid({
            delay: 500,
            width: 153,
            height: 24,
            panelWidth: 153,
            panelHeight: 240,
            mode: 'local',
            //            data: data,
            idField: defIdField,
            textField: defTextField,
            //过滤
            onChange: function (newValue, oldValue) {
                //输入一个字符，做一次查询
                if ($.trim(newValue) && ($.trim(newValue) == $.trim($('#' + combogridId).combobox("getText")))) {
                    getTo(ajaxData_InvokeUrl + url + $.trim(newValue), null, function (ret) {
                        $('#' + combogridId).combogrid("grid").datagrid("loadData", ret);
                    });
                }
            },
            filter: function (q, row) {
                return row[defTextField].indexOf(q) != -1 || row[defTextField].indexOf(q) != -1;
            },
            columns: [[
                                        { field: defTextField, title: '选择区/县级地址', width: 135, sortable: true }
                                    ]],
            //姓名选择为空的时候    清除表单中的所以内容
            onHidePanel: function () {
                if ($('#' + combogridId).combo('getText') == "") {
                }
            },
            onSelect: function (index, record) {
                if (idField == 'AreaId') {
                    $('#' + combogridId).val(record.AreaId.toUpperCase());
                    $('#' + hiddenId).val(record.AreaId.toUpperCase());
                    SetCombogridValue(combogridId, record.AreaId);
                } else {
                    $('#' + combogridId).val(record.ItemId.toUpperCase());
                    $('#' + hiddenId).val(record.ItemId.toUpperCase());
                    SetCombogridValue(combogridId, record.ItemId);
                }
            }
        });
    }
    function SetCombogridValue(Combogrid, ItemId) {
        if ($.trim(ItemId) != "") {
            getTo(ajaxData_InvokeUrl + '/GetAreaFullName/' + ItemId, null, function (ret) {
                $("#" + Combogrid).combogrid('setValue', ret);
            });
        }
    }

    function execEx(v) {
        var treeNode = $('#' + models[currentMenuCode].treeId).tree('getSelected');
        var treeNodeId = '';
        var areaId;
        if (treeNode) {
            treeNodeId = treeNode.id; //当前节点的层次
        }
        if (treeNodeId.length > 6) {
            var sub_id = treeNodeId.substring(14, 18);
            if (sub_id == '0000') {
                areaId = left(treeNodeId, 13);
            }
            else {
                areaId = left(treeNodeId, 18);
            }
        }
        else {
            areaId = "";
        };
        datagrid_load(areaId);
        exec(v);
    }

    function resetfmEx(v) {
        $('#KeyWord').val(null);
        $('#residentStatus').combobox("setValue", 1);
    }

    function destroy(row) {
        if (!row) {
            row = $('#' + models[currentMenuCode].gridId).datagrid('getSelected');
        }
        if (row) {
            alertConfirm('确定要将“' + row.ResidentName + '”做死亡处理吗？', function (r) {
                if (r) {
                    var parem = { 
                        ResidentStatus: 3,
                        Status: 3,
                        ResidentName: row.ResidentName
                    };
                    var residentId = row.ResidentId; 
                    if (residentId != null ) {
                        putTo(models[currentMenuCode].baseModelUrl + residentId, $.toJSON(parem), function (ret) {
                            if (ret.Success) {
                                alert('“' + row.ResidentName + '”已做死亡处理');
                            }
                        }, null,null);
                        $('#' + models[currentMenuCode].gridId).datagrid('reload');
                    }
                    else {
                        alert('此人辖区或主键信息有问题！');
                    }
                }
            });
        }
        else {
            alertError('请选中要操作的记录');
        }
    }
</script>
