<!DOCTYPE>
<html>
<head>
    <title>--</title>  
    <link rel="stylesheet" type="text/css" href="../../css/easyui/1.3.3/gray/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/easyui/1.3.3/icon.css" />
    <link rel="stylesheet" type="text/css" href="../../css/kwicks/kwicks.css" />
    <link rel="stylesheet" type="text/css" href="../../css/ztree/zTreeStyle.css" />
    <link rel="stylesheet" type="text/css" href="../../css/uploadify/uploadify-3.2.css" />
    <link rel="stylesheet" type="text/css" href="../../css/site.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/list.css" />
    <link rel="stylesheet" type="text/css" href="../../css/icon.css" />  
    <link rel="stylesheet" type="text/css" href="../../css/easyui/my97.css" />
    <link rel="stylesheet" type="text/css" href="../../css/shared.css" />
    <script type="text/javascript" src="../../script/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.json-2.2.min.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery-ui-1.8.23.custom.min.js"></script> 
    <script type="text/javascript" src="../../script/uploadify/jquery.uploadify-3.2.min.js"></script>
    <script type="text/javascript" src="../../script/ztree/jquery.ztree.all-3.4.min.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.easyui-1.3.3.min.js"></script>
    <script type="text/javascript" src="../../script/jquery/locale/easyui-1.3.3-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../../script/jquery/datagrid-detailview.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.easyui.leblue.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.kwicks-1.5.1.pack.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.linkagesel-min.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.roll.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.blockUI-2.66.js"></script>
    <script type="text/javascript" src="../../script/underscore/underscore-1.5.0-min.js"></script>
    <script type="text/javascript" src="../../script/flash4ajax/ajaxf.js"></script>
    <script type="text/javascript" src="../../script/my97datepicker/WdatePicker.js"></script>
    <script type="text/javascript" src="../../script/jquery/jquery.easyui.my97.js"></script>
    <script type="text/javascript" src="../../script/date/date.js"></script>
    <script type="text/javascript" src="../../script/xml2json-v1.1.js"></script> 
    <script type="text/javascript" src="../../script/switchVar.js"></script>
    <script type="text/javascript" src="../../script/globalVar.js"></script>
    <script type="text/javascript" src="../../script/site.js"></script> 
    <script type="text/javascript" src="../../script/tabContainer.js"></script>
    <script type="text/javascript" src="../../script/client/seat.js"></script>
    <script type="text/javascript" src="../../script/old-care/interact-callservice.js"></script>
    <script type="text/javascript" src="../../script/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="../../script/jquery/exporting.js" ></script>
    <script type="text/javascript" src="../../script/sms.js" ></script>
</head>
<body> 
<div id="serviceStation">
</div>
</body>
</html>


<script type="text/javascript">
    $(function () {
        serviceStation();
    });
    function serviceStation() {
        var serviceStation;
        var queryParams = {
            'OrderByClause': 'OperatedOn desc',
            'Status': 1,
            'AreaId': '99999',
            'StationType': "00002",
            'StationType2': "00001"
        };
        getTo(baseCMSInvokeUrl + '/Pub/ServiceStationService/Query', { parms: $.toJSON(queryParams) }, function (result) {
            serviceStation = result.rows;
            var html = [];
            html.push('<div class="title">日照中心</div>');
            if (serviceStation) {
                for (var i = 0; i < serviceStation.length; i++) {
                    var hotline = serviceStation[i].Hotline == null ? "" : serviceStation[i].Hotline;
                    var linkMan = serviceStation[i].LinkMan == null ? "" : serviceStation[i].LinkMan;
//                    html.push('<div class="stationList"><a href="#" >' + serviceStation[i].StationName + '</a>&nbsp;&nbsp;&nbsp<lable>服务热线：' + hotline + '&nbsp;&nbsp;&nbsp;联系人：' + linkMan + '</lable></div>');
                    html.push('<div class="stationList">');
                    html.push('<a href="#" >' + serviceStation[i].StationName + '</a>');
                    html.push('</div>');
                }
               $('#serviceStation').html(html.join(""));
            } else {
                $('#serviceStation').html("欢迎使用 政府监管平台 决策支持版");
            }
        }, null, { ConnectId: baseInfoNode });
    }

</script>

<style type="text/css">
<!-- 
#serviceStation{ height:670px; width:inherit; overflow-y:auto;padding: 0px;}
div{font-size:12px; padding: 5px;}
.title {background-color:Gray;font-size:30px;} 
.stationList {background-color:Yellow;}
.stationList a{font-size:20px;}

--> 
</style>